[2014-09-07 17:46] jsgoecke opened #1 "minecraft-server 1.7.10+ & 1.8+ - EULA Acceptance Requirement Feature"
It appears Mojang is now requiring that one accepts the EULA before the server in the latest releases will run:

http://www.reddit.com/r/admincraft/comments/27dy0q/1710_forces_you_to_accept_the_eula_before_you_can/

I see that the latest run in this project is 1.7.9 just before this became a requirement. Is there a way to do this acceptance in the Dockerfile or way to resolve for the latest versio

[2014-09-08 02:15] #1 closed, assigned to nobody

[2014-09-17 03:05] max-mapper opened #2 "jekyll requires node.js now"
hi, im trying to use your jekyll docker image, but jekyll requires node.js now

http://jekyllrb.com/docs/installation/
https://github.com/jekyll/jekyll/issues/2327

just wanted to let you know that the image doesn't work at the moment

[2014-09-21 22:27] #2 closed, assigned to nobody

[2014-10-14 22:10] paradoxengine opened #3 "Please update the OS"
Hi,
it seems that this image is vulnerable to the following "shellshock related" bugs.
CVE-2014-6271, CVE-2014-7169, CVE-2014-7186, CVE-2014-6277, CVE-2014-6278
I have no idea if they are exploitable given your use case, but you probably want to update the OS just in case.

[2014-10-16 03:10] #3 closed, assigned to itzg

[2014-11-09 15:10] itzg opened #6 "[minecraft-server] Add container option to download and setup a server icon file"
NOTE: server icon files are PNG, 64x64, called server-icon.png

[2014-11-09 16:52] #6 closed, assigned to itzg

[2014-12-07 01:32] ianneub opened #7 "minecraft-server: Issues with player disconnect?"
I was wondering if anyone else has had a problem with player disconnects using this docker image.

It seems to be solved by setting `--net host` in the run command, but I'm unsure why that would be an issue.

Anyone else see that?

[2014-12-07 16:27] #7 closed, assigned to nobody

[2015-01-01 15:37] itzg opened #8 "[minecraft-server] server.properties gets overwritten with subsequent 'docker start's"

[2015-01-01 16:14] #8 closed

[2015-01-01 16:14] itzg commented on #8
Included in [build](https://registry.hub.docker.com/u/itzg/minecraft-server/build_id/5652/code/bdzgzuvcw7xu8zfievdwe3s/)

[2015-01-01 22:26] jbeda opened #9 "[minecraft-server] Support server mounts for minecraft data"
I'm running your minecraft image with server mounts for the data.  Much easier to ensure I don't accidentally delete data by deleting a data container.

However, it is tricky to do this with the support for running as a non-root user.  The UID used from within the image isn't documented.  Because of this, you need to chown the data directory before starting up the container to some unknown UID.

I

[2015-01-01 23:38] itzg commented on #9
Oops, I was feeling nervous removing the `ADD` for that...should have stopped myself :)

Let me do a quick fix by putting that file back into the image, but that would be great if you could help me with the proper fix. Even though running processes in the container non-root is ideal, Docker doesn't yet make that seamless.

One option I was considering today was setting `/start` as the `CMD`, but t

[2015-01-01 23:50] itzg commented on #9
Quick fix included in [this build](https://registry.hub.docker.com/u/itzg/minecraft-server/build_id/5652/code/b2wrn62uol8ygryvvcdt7xz/)

[2015-01-02 00:01] itzg commented on #9
OK, I did a little more investigation and now I fully comprehend what I had read about non-root users within the container. I also came across [this little section](https://docs.docker.com/articles/dockerfile_best-practices/#user) that I hadn't seen before.

It's all about matching up the **uid** of the user within the container to the host's. I had gotten lucky with testing within *boot2docker* a

[2015-01-02 00:04] itzg commented on #9
...sorry, @jbeda, I had skipped over your second bullet regarding overwriting the `/etc/passwd` uid value. Hmm, that's the most tempting option, just not sure if the startup sequence allows for that.

[2015-01-02 01:05] jbeda commented on #9
Thanks for the quick fix :)

I think either would work.  Managing UIDs is tricky in a containerized world.  I'm not sure that lots of folks are running non-root in the dockerized world.

[2015-01-20 01:40] adkinss commented on #9
I started playing around with itzg/minecraft-server and ran almost immediately into this user UID issue.  Unless I remap user accounts or build a new server to run minecraft on, it doesn't make sense to force the UID to 1000.  In my case, UID 1000 is already in use by a regular user account and there is no way that I want it to own the minecraft directory tree.

I decided to come to your git repo

[2015-01-21 04:10] itzg commented on #9
@adkinss, I agree, having to specifically setup the host server defeats the encapsulation of Docker. I'll about some way to accept a -e arg for the server uid.

For what it's worth I now run all my minecraft containers without the host attached volume. I enjoy the simplicity and self contained aspect.

Since we can now 'exec' into containers to modify files, my survey style question to you is: wha

[2015-01-21 17:23] jbeda commented on #9
For me, host attached volumes can be placed on a different block device.  They can also be backed up en-masse easily.

I have a VM with 4 minecraft servers running.  They all use `/minecraft/<server-name>` as their data directory.  I just back up `/minecraft` and call it a day.

That being said, I'm looking at switching to spigot and have been playing around with some docker images that support th

[2015-01-22 02:09] adkinss commented on #9
I am not currently using host-attached volumes for minecraft.  I don't think I actually will, since it is easy enough to access the files inside the container and do what I need.  I do wish there was a way to mount a data-only container like a filesystem (i.e. with FUSE or something like qemu-nbd), since it would give similar functionality of host-attached volumes, but still keep the data encapsul

[2015-01-22 15:40] itzg commented on #9
Thanks, both of you, for the feedback.

I have some family stuff keeping me distracted, so yes, @adkinss , we'll see who gets to the solution first :) I appreciate your help.

[2015-01-26 03:37] itzg commented on #9
@adkinss or @jbeda , do you mind testing out this latest commit I pushed? Its using the new `-e UID=` option we discussed, but defaults to 1000 to match the prior behavior.

Apparently I haven't needed to use `usermod` that much since I only just now noticed its `--uid` option.

[2015-01-29 01:53] #9 closed

[2015-01-29 01:54] itzg commented on #9
Oops, "fixes" is a magic GitHub action word. Let me know if you still see issues with the `-e UID` option.

[2015-02-08 04:04] itzg opened #11 "[minecraft-server] Run commands on the minecraft server from the Docker remote API"

[2015-02-17 15:16] itzg commented on #11
Note to self (and throwing out there for discussion): rather than hand craft the `exec`'ing and such, it might be time to introduce [Supervisor](http://supervisord.org/) and use its `supervisorctl`.

I also did some experiments with `docker attach`'ing to the container process, but nothing positive on that front. The Ctrl-P -> Ctrl-Q to exit the attachment didn't even work.

[2015-02-17 18:40] DanTheColoradan commented on #11
Love your docker image. Just wanted to say thanks and I'll be keeping an eye on this issue. This sounds like an awesome feature! :+1:

[2015-02-28 22:34] DanTheColoradan opened #14 "[minecraft-server] option to use forge"
I'm going to try and figure this out and maybe fork and merge, but what do you think about having an argument to use a forge server? Or should that be a totally different image?

[2015-02-28 23:12] DanTheColoradan commented on #14
I can't find a Minecraft Forge version json file, so what might be easier is to prefer and only allow the recommended versions.

![screen shot 2015-02-28 at 3 59 46 pm](https://cloud.githubusercontent.com/assets/3826143/6428529/deaf7e22-bf62-11e4-9621-dff18b17f7c5.png)

I'm not sure how to scrape that information... It would be nice if they supplied either a json or a URL redirect for recommended

[2015-02-28 23:29] DanTheColoradan commented on #14
Perhaps something like [xidel](http://videlibri.sourceforge.net/xidel.html#home) would work.

Here is the html inspection for the version button pictured above:
![screen shot 2015-02-28 at 4 26 14 pm](https://cloud.githubusercontent.com/assets/3826143/6428598/9c6ae9e4-bf66-11e4-9197-7843f1d85b74.png)

That could get us all of the possible versions, and then we could generate a path from that perha

[2015-02-28 23:40] DanTheColoradan commented on #14
What might be simpler is if I create a script that automatically generates a json file that you can consume. That would keep your Dockerfile, start.sh, etc. much cleaner. Let me know what you think.

[2015-03-01 00:16] itzg commented on #14
I think the option for a Forge server is a fantastic idea. I waiting and watching (but then forgot) while they sorted our their 1.8 support. It was under that FML designation and was all a little odd. Packaging mods for FML 1.8 wasn't working for me, which added to my waning interest :)

Back to your follow up questions, yes, a nice, clean REST API on their part would be ideal. Scraping pages is n

[2015-03-01 00:20] DanTheColoradan commented on #14
Sounds great! I'm part way through a Scrapy script (doesn't work yet / still playing around):

[code]

[2015-03-01 00:23] itzg commented on #14
I noticed they have "branch pages", such as http://files.minecraftforge.net/minecraftforge/1.8 , which might narrow the scraping needed.

[2015-03-01 01:07] DanTheColoradan commented on #14
Yup. I was able to get the two branches they have up:

[code]

[2015-03-01 01:10] DanTheColoradan commented on #14
Just so we don't lose any work: https://github.com/DanTheColoradan/minecraft-forge-scrapy.

[2015-03-01 17:35] DanTheColoradan commented on #14
I was able to scrape the [Promotions](http://files.minecraftforge.net) portion of the Minecraft Forge downloads page. I can also easily get it to scrape other pages, but they can have *quite* a bit of information. It takes longer if I do more pages.

Here is a sample (pretty formatting mine):

[code]
The [code](https://github.com/DanTheColoradan/minecraft-forge-scrapy) is a bit complex right now s

[2015-03-01 18:03] DanTheColoradan commented on #14
I feel like there should an easy way to get the "latest" and "recommended" info... They are using a script to determine which versions to display, but I haven't figured out how the script determines which are "latest" and recommended". Those tags have to be stored somewhere....

[code]

[2015-03-01 18:10] DanTheColoradan commented on #14
I'm pretty sure I figured it out. It looks like they don't have "latest" and "recommended for anything before 1.5.2. I'm going to see if I can just use the last build for any before 1.5.2.

[2015-03-01 19:39] DanTheColoradan commented on #14
Ok. So here is my new plan...

Problem: Anything before 1.5.2 does not have an installer and / or recommended build.
Solution:

1. Start dictionary (Minecraft version = Forge source download link)
2. Fill all with Latest forge source link (i.e. Minecraft version 1.1 to 1.8)
3. Replace any that have Recommended builds (i.e. 1.5.2+)
4. Output json

You could then just grab the correct version of For

[2015-03-01 19:45] itzg commented on #14
I would actually recommend not bothering to support before 1.5.2 :) ; however, if you have a personal need to use a mod compiled against an older version, then go for it. Can always enhance it later, if needed.

Yeah, I poked around in their JavaScript. It does offer some hints, but they are rendering the actual version list server-side, so still needs to be scraped.

[2015-03-01 19:49] itzg commented on #14
...did you have any thoughts about how users would install mod jars into a particular container? Since most mods are downloaded behind an adfly URL, a `docker exec ... wget` type approach won't always work. Otherwise, requiring attaching of `/data` to a host directory would probably be fine, right?

[2015-03-01 19:52] DanTheColoradan commented on #14
Hm. I don't have a need for anything pre-1.5.2. I mostly wanted to include it for the sake of completeness since it looks like you are able to get any version of Minecraft already?

And I hadn't given that thought yet! Attaching `/data` sounds ok to me.

[2015-03-01 20:52] DanTheColoradan commented on #14
I have finished up the [script](https://github.com/DanTheColoradan/minecraft-forge-scrapy/blob/master/minecraftforge_spider.py) to a workable stage for you.

[code]

This produces a [json](https://github.com/DanTheColoradan/minecraft-forge-scrapy/blob/master/latest.json) that you should be able to digest :) You can run the script with [Scrapy](https://github.com/scrapy/scrapy) installed:

[code]

[2015-03-01 22:15] DanTheColoradan commented on #14
I'm thinking of formatting it as similar as I can to the [amazon version](https://s3.amazonaws.com/Minecraft.Download/versions/versions.json) you download. Would that be helpful?

[2015-03-01 22:21] itzg commented on #14
Yeah, that would be great. Perhaps introduce new types, such as "forge-recommended" and "forge-latest", so it could look something like:

[code]

[2015-03-02 01:27] DanTheColoradan commented on #14
I was able to create a very similar layout for the Forge downloads:

[code]

 Would you like me to have python amalgamate what I produce with the Mojan json? I'm not sure how easy it'll be, but I can try if you like.

[2015-03-02 01:28] DanTheColoradan commented on #14
Whoops! I just need to fix the versions. I have the minecraft versions there instead of the forge versions.

[2015-03-02 01:30] itzg commented on #14
Nah, the two separate, very extremely similar file formats will be just fine. The bootstrap script will need to decide vanilla or forge from the start anyway.

[2015-03-02 01:39] DanTheColoradan commented on #14
Great! Ok. How about the id?

Do you want:

[code]

or
[code]

In other words, do you want the minecraft version included in the id? I could also just make it a separate field:

[code]

A separate fields seems more flexible to me, but I'm not sure how you plan to implement this.

[2015-03-02 01:45] itzg commented on #14
Since their id seems to be unique, I agree, let's go with separate fields to maximize flexibility.

[2015-03-02 01:51] DanTheColoradan commented on #14
Fantastic. Then I think most of what you need is in my [repo](https://github.com/DanTheColoradan/minecraft-forge-scrapy):

The python Scrapy file is the following:

[code]

My native language is C++ so feel free to fix my python code as needed. *phew* If you have an eta, let me know :) I'm quite excited. Also let me know if you need anything else. Once you incorporate the changes, I'll just delete

[2015-03-02 03:03] itzg commented on #14
How about you do a pull request with your script added under `/minecraft-server`. Then you'll get properly attributed for the contribution? I created a [forge branch](https://github.com/itzg/dockerfiles/tree/forge) where you can aim the pull request.

I'll then follow up with the final changes, which I should be able to do sometime this week.

My native language is Java, so I won't be picky about

[2015-03-02 04:37] DanTheColoradan commented on #14
Sounds great! And no problem :+1:

[2015-03-04 05:06] itzg commented on #14
Quick progress update:

I added installation of python and scrapy in this commit
https://github.com/itzg/dockerfiles/commit/b4ec3cfb7112f9f207bdec6af969b275ab7f0ca8

...but I'm a little concerned about the increase in image size, where `mc` is the build against the forge branch:
[code]

I have been dabbling in go and might later play with their [html parsing library](https://godoc.org/golang.org/x

[2015-03-04 20:26] DanTheColoradan commented on #14
Wow! Yah. That's unacceptable. Out of curiosity, why go?

[2015-03-04 20:42] itzg commented on #14
Good question :). It is very common in the Docker world and produces nice, statically linked binaries. I used to be a C/C++ developer, a long time ago, so there's a nostalgia factor too.

[2015-03-04 20:44] DanTheColoradan commented on #14
Kk :D Sounds like something I would be interested in then too. Have you tried the html parsing library yet? I might look at it in a bit.

[2015-03-04 20:45] itzg commented on #14
I haven't tried it yet, but have been impressed with their other standard library/modules.

[2015-03-04 20:49] DanTheColoradan commented on #14
K. I'll give it a shot after I get some work done. Feel free to get it done before me though if you have free time.

[2015-03-04 21:29] itzg commented on #14
Bingo! I was starting up Minecraft (with the Forge client) and noticed it stated a new version was available. I fired up Wireshark and found the conversation, below, with `files.minecraftforge.net`. So here's the magic JSON URL:

http://files.minecraftforge.net/maven/net/minecraftforge/forge/promotions_slim.json

[code]

[2015-03-04 21:35] DanTheColoradan commented on #14
Holy crap! hahah awesome!

[2015-03-04 21:42] DanTheColoradan commented on #14
Here is a sample link:

[code]

So:

[code]

Perhaps?

[2015-03-04 21:45] itzg commented on #14
Yeah, that seems to be it. And then use their identifiers to find "latest", "recommended", etc

I haven't checked yet if we'll need the installer or universal jar.

[2015-03-04 21:59] DanTheColoradan commented on #14
I tried the installer on your Minecraft image and it started no issues.

The universal has a more complex setup:

"Open your minecraft.jar file and the universal zip file. Drop the contents of the zip file into minecraft.jar then delete the files in META-INF which begin with MOJANG.

To complete the forge installation - start minecraft and log in. Minecraft will then download some more instal file

[2015-03-04 22:38] itzg commented on #14
Yep, installer will work out much better then. I vaguely remember it has a headless mode.

[2015-03-04 22:48] itzg commented on #14
...sorry missed the first part of your last comment. Sounds like it's close then!

[2015-03-05 00:04] DanTheColoradan commented on #14
I think I'm getting close, but I'm having an issue with docker build. I'm not sure what is up, but I just wanted to let you know.

[code]

[2015-03-05 00:23] itzg commented on #14
I found I have to add an apt-get update on my images now.

[2015-03-05 00:30] DanTheColoradan commented on #14
Well, I'm not sure what's up, but if you get the change, check out my [forge branch](https://github.com/DanTheColoradan/dockerfiles/tree/forge). Docker seems to run it and then stop. I'm going to keep messing with it.

[2015-03-05 00:56] DanTheColoradan commented on #14
If I remove `-e VERSION=` or `-e TYPE=`, it looks like it starts working again...

[2015-03-05 01:03] itzg commented on #14
I'm looking...but from here I usually launch the container running bash and fiddle with the script from there:

    docker run -it --rm mc bash

and then

[code]

[2015-03-05 01:04] DanTheColoradan commented on #14
Thanks :+1:

[2015-03-05 01:12] DanTheColoradan commented on #14
That definitely helped. Now I'm able to debug. Quite a few problems.

[2015-03-05 01:13] itzg commented on #14
Like missing the ".jar" suffix ;) I see you pushed the fix already.

[2015-03-05 01:14] DanTheColoradan commented on #14
Haha that was one xD Another is I'm not checking the vanilla version vs what version is on forge, so I get links that don't work:

http://files.minecraftforge.net/maven/net/minecraftforge/forge/1.8.3-11.14.1.1334/forge-1.8.3-11.14.1.1334-installer.jar

The 1.8.3 doesn't match the forge build.

[2015-03-05 01:17] itzg commented on #14
Oh yeah, starting with 1.8, forge doesn't require matching up on the third version part, right?

[2015-03-05 01:19] DanTheColoradan commented on #14
If I understand your question correctly, I don't believe so.

Btw, should I keep going with fixing it? Or do you want to take over?

The debugging is going a lot faster now, so if you have other things to do, I can keep going.

[2015-03-05 01:20] itzg commented on #14
Yeah, go for it.

[2015-03-05 01:21] DanTheColoradan commented on #14
K.

[2015-03-05 01:37] itzg commented on #14
I'll be offline for a bit, but just discovered https://gitter.im/itzg/dockerfiles

[2015-03-05 01:42] DanTheColoradan commented on #14
Moving our conversation there.

[2015-03-05 20:18] #14 closed

[2015-03-06 22:06] DanTheColoradan commented on #11
Would Supervisor be implemented in conjunction with the Docker remote API?

I believe our goals is to run commands on the Minecraft server (which is in a docker container). One way of doing that would be to send it commands through the Docker remote API. I assume that's possible anyway ;-) Another option would be to run Supervisor, and then use the supervisorctl to run the commands.

Does that sou

[2015-03-07 00:38] itzg commented on #11
Latest experiment (not remote yet) is looking better. It turns out the `-i` option when launching the container is what tells Docker to enable for interactive/input. Then, add `-t` to setup a pseudo-tty, so...

[code]

...and I'm out and can re-attach again.

Now I'm going to expand my experiment by starting my Docker daemon with `tcp` socket enabled via `-H tcp://0.0.0.0:2375`...

[2015-03-07 01:21] itzg commented on #11
Remote attach experiment: :+1:

So, I adjusted my Docker service config (`/etc/default/docker` on Ubuntu):

[code]

and restarted the service and started back up that "mc-a" container I created above

[code]

*Notice I had to now specify the `DOCKER_HOST` environment variable.*

Then, I hop on another Linux machine (a boot2docker VM in my case):

[code]

[2015-03-07 01:32] DanTheColoradan commented on #11
We might consider noting something about:

[Securing Docker's Remote API](http://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0CB8QFjAA&url=http%3A%2F%2Fblog.james-carr.org%2F2013%2F10%2F30%2Fsecuring-dockers-remote-api%2F&ei=2FL6VO7JFo6ayASG4YG4DQ&usg=AFQjCNFEFpV8qeRNw1XbLOStNEtkIPqqoQ&bvm=bv.87611401,d.aWw)
[Running Docker with HTTPS](https://docs.docker.com/articles/https/)

[2015-03-07 19:12] #11 closed

[2015-03-07 19:18] itzg commented on #11
Built and pushed with image ID e18a55eabebf

[2015-03-13 21:28] itzg opened #19 "[minecraft-server] Expose the PVP option"
Another [server.properties](http://minecraft.gamepedia.com/Server.properties) that would be nice to allow configuring during server creation is `pvp`

[2015-03-24 14:02] dottorblaster opened #21 "su: System error"
Hi,
I'm starting a container with your dockerfile,

I keep getting this:

[code]

What the heck? :-/ Why is it working for everyone but me? .-. (as I can see...)

[2015-03-24 22:32] itzg commented on #21
Let's gather some data points

* What's is your host OS and version
* Kernel version specifically
* Docker version
* Do you have a user on your host system already with uid 1000?

[2015-03-24 22:48] dottorblaster commented on #21
Well:

- Ubuntu 14.04
- 3.16.0
- Docker 1.0.1, API 1.12, Go 1.2.1
- Yep, it's azureuser

I'm on an Ubuntu machine on Azure, if it can help.

I finally started the container, but it works in an unexpected way because I have to bypass the su instruction. I'm testing a sudo version of the image right now and it seems to behave better.

[2015-03-24 23:05] itzg commented on #21
Strange,  but good. That Docker version is a little old, but not sure if it would influence this.

Feel free to submit a pull request, if your adjustment works for you. I'll also work on a `-e UID=0` option to bypass the su/sudo altogether when it doesn't cooperate.

[2015-03-24 23:16] dottorblaster commented on #21
I can try on my Ubuntu 14.10 when I get home, and on a virtual Fedora I have on my Mac. Maybe with a more recent version of Docker I can figure out what's happening, right now I actually start the container but nothing happens, I have to do a docker attach and a /start-minecraft manually to get things done. It's a big step forward in deploying a server by myself (without having to do with properti

[2015-03-25 02:53] itzg commented on #21
My machine where I run my Minecraft images is also 14.04, so that's probably not it either.

Yeah, I was going to say a workaround is to start the image with `/start-minecraft`, such as

    docker run ... itzg/minecraft-server /start-minecraft

Yes, Docker does present some fun challenges to conquer.

[2015-03-25 13:49] itzg opened #22 "[es] Need to upgrade elasticsearch image to latest, 1.5.0"

[2015-03-26 02:27] #22 closed

[2015-03-28 17:58] dottorblaster commented on #21
I'm getting completely fine with

[code]

at the end of file. The problem is, if I switch user I get a

[code]

for the jar execution. Wadda hell... maybe switching the user it loses all the env vars? I don't understand. I would like to introduce sudo for this purpose, because on Ubuntu su is deprecated.

[2015-03-28 18:02] itzg commented on #21
@dottorblaster, swapping out `su` for

    exec sudo -u minecraft /start-minecraft

working for you? Or does it need to kick off a bash? (I'm being lazy and not just experimenting :) )

[2015-03-28 18:06] itzg commented on #21
...ah, needs to preserve the environment: `sudo -E`

[2015-03-28 18:37] itzg commented on #21
@dottorblaster , the sudo usage is in the latest pushed image, 8651fba4d9cf. Can you test it out?

[2015-03-28 18:54] dottorblaster commented on #21
I don't have the laptop right now, i'll test it out asap :-)
Il 28/mar/2015 19:37 "Geoff Bourne" <notifications@github.com> ha scritto:

[2015-03-29 10:48] dottorblaster commented on #21
It works like a charm! Thank you, I didn't know about sudo -E, thanks a lot :-)

[2015-03-29 10:48] #21 closed

[2015-03-29 13:51] itzg commented on #21
Excellent

[2015-03-29 20:04] #19 closed

[2015-04-22 22:09] itzg opened #23 "[mc] Use Docker 1.6 label to identify minecraft-server for mccy"

[2015-05-16 03:20] itzg opened #24 "[es] Expose option for master, data, client node types"

[2015-05-16 03:24] itzg commented on #24
See https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-node.html

[2015-05-19 17:54] itzg opened #25 "[es] Upgrade to ES 1.5.2"

[2015-05-20 01:45] itzg commented on #25
Fixed in 128dd8950acadf66e8fa061e76aaea74cf4e9eaa

[2015-05-20 01:45] #25 closed

[2015-05-25 08:49] FPierre opened #27 "Persistent data"
Hello

I use your awesome Dockerfile Elasticsearch (with Marvel). The only problem is that data are not saved after docker restart (or laptop reboot)

Is there a possibility to save the data to avoid to fill Elasticsearch at every restart ?

I just read the Dockerfile, /data and /conf are not created. There needs to use sudo somewhere?

[2015-05-25 14:17] itzg commented on #27
Thanks for the feedback :)

Unless you're using the [--rm](https://docs.docker.com/reference/run/#clean-up-rm) option, the container's filesystem should be persistent. As of Docker 1.2 containers don't auto-restart (by default), so do a `docker ps -a` and see if your container is there, but stopped. If so, you can start the container back with its pre-existing data with `docker start ...col #1 fro

[2015-05-26 07:51] FPierre commented on #27
Thanks for those informations.

I think the problem is not here: the directories /data and /conf are missing (even after complete Dockerfile reset). Is it possible that there is a permissions problem?

My `/` directory:

[code]

I use the Dockerfile on my Ubuntu laptop without boot2docker (official Docker installation)

[2015-05-26 19:34] itzg commented on #27
Excellent, Ubuntu is my primary host platform for using Docker. Can you go through the following sequence, reply with the output from each step and this will help me narrow down the symptoms:

[code]

[2015-05-29 18:26] itzg commented on #27
@FPierre , have you been able to try out the latest test case?

[2015-05-31 14:59] itzg opened #28 "[mc] Using TYPE=FORGE does not identify 1.8 Forge version"
[code]

[2015-06-01 17:36] itzg opened #29 "[logstash] Upgrade to released 1.5.0"

[2015-06-03 07:57] FPierre commented on #27
Sorry, I'm not able to access to my main computer for another 5 days. I could answer Tuesday

[2015-06-09 12:14] timvisher opened #30 "minecraft-server: MOTD not overriding the server MOTD"
Thanks so much for the docker container!

When I start the container like this:

[code]

The ICON is overridden but the MOTD remains `A Minecraft Server Powered by Docker`.

Am I doing something wrong?

[2015-06-09 21:04] itzg commented on #30
You're using it right, so I'll look into this.

[2015-06-09 21:11] itzg opened #31 "[es] Upgrade to 1.6.0"

[2015-06-10 00:01] timvisher commented on #30
I've never seen a sed command that looks like this. Usually you would need an `s/…/…` for substitute. Does that actually work?

[2015-06-10 00:19] itzg commented on #30
Yeah, I was having some fun with `sed` there :). The c command replaces the entire line that was matched. That way it matches and fixes up even lines that are commented.

[2015-06-10 00:49] itzg commented on #30
It works fine for me...but then I tend not to map the `/data` volume myself. If you had a `~/minecraft-data/server.properties` file before running the container, it'll leave your file untouched.

To test this theory out, stop any minecraft-server containers, move away the contents of your `~/minecraft-data` and then `run` a new container.

Here's the sequence for my test:

    docker run -d -it -p

[2015-06-10 17:43] timvisher commented on #30
:facepalm: I can't believe I missed the `-e` conditional there.

What's the purpose of that? It feels like it just makes it a little harder to iterate on getting the container up and running?

[2015-06-10 17:44] timvisher commented on #30
How do you persist your world data between the container going down and up?

[2015-06-10 18:20] itzg commented on #30
Which `-e` conditional do you mean?

As for persisting world data, something that clicked for me later down the road was that Docker containers do always persist their filesystems. In fact...if you do a `docker inspect` on a container it'll reveal the paths, but the main one per container is `/var/lib/docker/containers/<container id>`.

You can always `docker exec -it <container> bash` to get a sh

[2015-06-10 19:02] timvisher commented on #30
The one where you check if `server.properties` exists. :)

[2015-06-10 19:03] timvisher commented on #30
Ah. I had no idea. I'm still getting used to docker.

[2015-06-10 19:03] timvisher commented on #30
Is there any reason to not update `server.properties` in place every time?

[2015-06-10 19:09] itzg commented on #30
My logic was: generate the initial copy using the `-e` environment settings...but after that assume the user has made manual tweaks and avoid blowing them away.

[2015-06-10 19:09] itzg commented on #30
...we could add another option to tell it to adjust the properties on every docker `start` or `restart` :)

[2015-06-10 19:13] timvisher commented on #30
heh.

![image](https://cloud.githubusercontent.com/assets/34676/8091665/27c2e322-0f83-11e5-8662-43aa0078749e.png)

I think it's fine how it is now.

[2015-06-10 19:13] #30 closed

[2015-06-10 19:15] itzg commented on #30
Awesome :)

[2015-06-11 02:43] itzg opened #33 "[kibana] Upgrade to 4.1.0"
https://github.com/elastic/kibana/releases/tag/v4.1.0

[2015-06-11 02:50] #29 closed

[2015-06-11 02:50] #31 closed

[2015-06-11 02:50] #33 closed

[2015-06-13 11:01] nichivo commented on #28
Pull request #34 should fix it ;)

https://github.com/itzg/dockerfiles/pull/34

[2015-06-22 13:07] FPierre commented on #27
@itzg, sorry I was an another project.
I try out your test case, and it's work! Remove and install the image solved the problem.

Good to me :)

[2015-06-22 13:07] #27 closed

[2015-06-22 13:12] itzg commented on #27
Glad to hear and thanks for following up.

[2015-06-25 13:29] itzg opened #36 "[cassandra] Upgrade to 2.0.16"

[2015-06-25 13:30] itzg opened #37 "[cassandra] Move mainline to 2.1.x"
Since the main page now states

The most stable release of Apache Cassandra is 2.1.7 (released on 2015-06-22). If you are looking for latest production ready Cassandra, download this one.

apache-cassandra-2.1.7-bin.tar.gz

Need to leave a 2.0.x branch and Docker tag for continued support of those versions.

[2015-06-25 13:31] itzg commented on #28
...and it did

[2015-06-25 13:31] #28 closed

[2015-06-30 05:05] itzg opened #38 "[kibana] Upgrade to 4.1.1"

[2015-07-17 02:41] itzg opened #39 "[es] Upgrade to 1.7.0"

[2015-07-18 14:22] #36 closed

[2015-07-18 14:23] #37 closed

[2015-07-18 14:27] #38 closed

[2015-07-23 15:50] itzg opened #40 "[es] Need a mechanism to override the 'docker run' provided environment variables"
Sometimes it is desirable to change a node's cluster after it has been running for a while. At this point the script

https://github.com/itzg/dockerfiles/blob/master/elasticsearch/start

can only obtain values like `$CLUSTER_NAME` from the `docker run` environment variables. It would be good to have that file optionally source a file owned by the container user `elasticsearch`, like `/conf/overrid

[2015-07-24 01:46] #39 closed

[2015-07-24 01:47] #40 closed

[2015-07-29 17:58] itzg opened #41 "[es] Upgrade to 1.7.1"

[2015-08-22 19:43] rdpanek commented on #27
Hello @itzg , thanks for your image ;-) So, I have issue with persist `/data` and `/config`: My goal is - share directory `/data` and `/config` between host (osx) and container. When stop or restart container, data and config must be persist on host computer and when start new container with `--volumes` option, must be mounted to new running container.

[code]
and get logs
[code]

Have you some id

[2015-08-22 19:44] rdpanek commented on #27
[code]

[2015-08-22 19:54] itzg commented on #27
In order to run ES as a non-root user, the container `useradd`'s "elasticsearch" (with uid=1000). I believe the mapped host directory also needs to be write-able by uid=1000. On Ubuntu that works out since my main login also got uid=1000 :).

With that said, I'll do some research, because this has always felt awkward to me.

[2015-08-22 19:56] itzg commented on #27
...already found there's healthy demand and discussion about this https://github.com/docker/docker/issues/7198

[2015-08-22 21:31] rdpanek commented on #27
@itzg Thanks, now it's ok.

[2015-09-21 02:43] dhanugupta opened #42 "elastic search volume /data issue to host"
Hi

I am trying to use the elastic search docker image with volumised the /data container data to host /data for persistent storage.

something like this:
docker run -d -p 9200:9200 -p 9300:9300  -v /es/data:/data itzg/elasticsearch
but it throwing issues and docker image getting Exited in few ms.

if you don't volume its working correctly. but i can't able to persist the data.

Is i am running co

[2015-10-03 12:18] itzg commented on #42
Yes, that invocation looks correct. The container runs Elasticsearch as uid=1000 by default, so there is likely just a permissions issue.

Can you post the output of `docker logs <your container id or name>`?

[2015-11-03 21:54] ajhewett opened #44 "[es] Cannot install plugin with 2.0"
The cmdline parameters for installing plugins have changed in ES 2.0.
The start script needs to be updated.  i.e.
    `$ES_HOME/bin/plugin install $p`

When trying to install a plugin with the current setup I am seeing errors in the docker logs like:
    `Installing the plugin delete-by-query`
    `ERROR: unknown command [--install]. Use [-h] option to list available commands`

[2015-11-05 00:22] #44 closed

[2015-11-05 00:30] itzg commented on #44
Thanks for reporting this. The fixed image is now published to Docker Hub.

[2015-11-05 00:31] itzg commented on #41
Fixed by 5484f506590e6209407fcb84a33600ce9278f237

[2015-11-05 00:31] #41 closed

[2015-11-27 22:29] AlexBischof opened #45 "Zen discovery doesn't work"
Hi,

i have tried to get the multi-node cluster working and have the problem that the nodes are not forming a cluster after
[code]
i get always
[code]

I'm using MacOS with *docker-machine*.

Any ideas?

Kind regards
Alex

[2015-11-28 15:18] itzg commented on #45
They changed some of the defaults in 2.0, so that might be part of it. For me to try the same scenario are you running one ES node per machine/VM or multiple on one?

[2015-11-28 16:27] itzg commented on #45
FYI, confirmed the issue and the root symptom is that the publish host is still loopback:

[code]

It looks like I was passing the wrong system property for `network.host`...

[2015-11-28 17:11] itzg commented on #45
Getting closer...there was [a configuration change](https://www.elastic.co/guide/en/elasticsearch/guide/current/_important_configuration_changes.html#_prefer_unicast_over_multicast)

[2015-11-28 17:36] #45 closed

[2015-11-28 20:54] itzg commented on #45
Built and pushed new image `539cf207a380`

[2015-11-29 18:03] everett-toews opened #47 "unable to execute /start-minecraft: Text file busy?"
When running the latest itzg/minecraft-server image (Image ID: 61f744a5eaa6) on VirtualBox, I get the following error.

[code]

However if I run it in another environment, such as [Carina](https://getcarina.com/). It works.

[code]

@itzg Can you please try it locally/VirtualBox?

I'd hate to think I borked your image with https://github.com/itzg/dockerfiles/pull/46. If it works for you, feel free

[2015-11-29 18:17] itzg commented on #47
Yep, I'll try in Linux and Windows (VirtualBox) and see what it does for me. It's very unlikely to be our last round of changes unless I did something to line endings on commit.

[2015-11-29 18:19] itzg commented on #47
...and thanks for the pointer to Carina. I've been on the lookout for good container hosting.

[2015-11-29 18:56] itzg commented on #47
Test 1, success, Ubuntu 15.10, local

[code]

[2015-11-29 20:13] itzg commented on #47
...and success with tests 2, Windows/VirtualBox, and 3, Carina. Carina is super nice BTW. My son and I got up and running in just a few minutes.

Try exploring a "temp/disposable" instance using:

    docker run --rm -it -p 25565:25565 itzg/minecraft-server bash

and then confirm the presence and access to `/start` and `/start-minecraft`. From there you could try running starting from there with

[2015-11-30 00:07] itzg commented on #47
Hold the phone, I just now hit this once during several runs on Windows/VirtualBox. I'm thinking about introducing a re-try loop in `/start`...

[2015-11-30 15:35] everett-toews commented on #47
Alright. Let me know how it goes. I'm happy to do some testing.

[2015-12-01 02:58] itzg commented on #47
I introduced an `lsof` check in the branch https://github.com/itzg/dockerfiles/tree/mc-issue-47 and so far I haven't seen the issue. Can you test that out too?

[2015-12-01 03:49] everett-toews commented on #47
Just tried it.

Somehow the whitelist stuff disappeared from https://github.com/itzg/dockerfiles/blob/mc-issue-47/minecraft-server/start-minecraft.sh

[2015-12-01 03:53] itzg commented on #47
Oops, apparently I hadn't pulled the latest master. Now I have merged and pushed the branch with the latest.

[2015-12-01 22:41] everett-toews commented on #47
:+1:

I tried the new image and it worked both locally and on Carina. Thanks!

[2015-12-02 14:34] itzg commented on #47
Thanks. It's now merged and pushed https://hub.docker.com/r/itzg/minecraft-server/builds/bq4ub7hnwtkptmbrvgadk5/

[2015-12-02 14:34] #47 closed

[2015-12-19 01:50] sshipway opened #48 "[feature] [minecraft-server] Allow passing of world data to server"
The minecraft-server container is very flexible, but one thing missing is the ability to pas a preexisting world without having to manage the storage.

It would be good to be able to pass `-e WORLD=url` and have the container download a zipfile from the specified URL and unpack it into the /data/world directory.  This would allow using ephemeral copies of archived worlds (eg, Hunger Games worlds)

[2015-12-19 04:55] itzg commented on #48
Excellent idea! If I can't get to it in the next few days, then go for it.

[2015-12-19 09:05] sshipway commented on #48
In fact, the whole idea was so good, I've already forked the repo and done some work on it.  I'll run a bit more testing and write the necessary documentation to the README before I submit the pull request, but in brief :
- Changed server.properties to default command blocks enabled
- Add volumes for /mods and /config that, if mounted and non-empty, will have their contents copied to /data/mods an

[2015-12-19 13:18] itzg commented on #48
That's so exciting. I'm looking forward to the pull request.

I'd be very interested in using (and contributing to) a web frontend. I had a false-start with [this project](https://github.com/itzg/minecraft-container-yard) -- it was before Machine and Swarm existed/matured and I had discovered [Spotify had a Java Docker client library](https://github.com/spotify/docker-client).

Since then I've bee

[2015-12-20 07:47] sshipway commented on #48
I wish I had the time and skill to do the web frontend idea justice; however I suspect I will only be able to run up something too rough to release publicly.  However, summer is coming (well, here in NZ anyway) and so there may be some time ...

[2015-12-22 16:44] #48 closed

[2015-12-22 16:45] itzg commented on #23
Already incorporated in "mccy-swarm"...

[2015-12-22 16:45] #23 closed

[2015-12-22 17:31] itzg commented on #48
Built and pushed on Docker Hub

[2015-12-22 22:23] itzg opened #50 "[mc] Allow given WORLD URLs to not end in .zip"
@sshipway I was testing out my addition of `WORLD` to my container-deployer web app and noticed that download links from http://www.minecraftmaps.com/ are exposed as something like http://www.minecraftmaps.com/parkour-maps/aspect-parkour/download but then do a temp redirect to the actual zip's URL.

Since `wget` can follow redirects, perhaps we should let it download and then verify the final the

[2015-12-23 14:41] itzg commented on #50
In this particular case they're using several layers of redirection including a `<script>` snippet to pull down mediafire content. They're obviously trying to block programmatic downloading, so we'll assume our end user has posted the zip somewhere readily accessible.

[2015-12-23 14:41] #50 closed

[2015-12-23 23:12] sshipway commented on #50
Good point; the script will catch non-zip files when trying to unpack after downloading in any case, and so it cannot overwrite things it shouldn't.  Maybe the wget call should set the Accept header so that only the correct MIME type (application/zip or octet-stream) is accepted?

[2015-12-23 23:17] itzg commented on #50
It actually inspired me to add file upload support in the web app I'm developing. I should have a test instance deployed for you to try out soon.

[2015-12-24 02:32] itzg commented on #50
...and here's that source code, @sshipway :

https://github.com/itzg/minecraft-container-yard

Happy Holidays :)

[2016-01-06 19:29] itzg opened #53 "[cassandra] Latest version is quiet and reports missing log4j-server.properties"
[code]

and BTW:

[code]

[2016-01-14 03:15] rrauenza opened #54 "[minecraft] Bukkit config using Spigot case?"
I'm looking through the shell script, and it is a bit confusing how it bootstraps a bukkit server.   It checks for BUKKIT and then sets the TYPE to SPIGOT ...

[code]

[2016-01-14 03:21] itzg commented on #54
@rrauenza , that tripped me up too when I was reviewing the PR... https://github.com/itzg/dockerfiles/pull/52#discussion_r48682101

There was that [DMCA takedown with Bukkit](https://bukkit.org/threads/bukkit-dmca-whats-going-on.309372/) a couple years ago, things went dormant, and Spigot, a pre-existing fork of CraftBukkit, came out on top. They now publish the build of both.

[2016-01-14 17:02] rrauenza commented on #54
Ah, thank you!  I'm setting this up for my son so am not completely familiar with all the flavors and history.

[2016-01-14 17:16] rrauenza opened #55 "[minecraft] Setting up GID and umask"
I've been making some modifications to the scripts because I'd like to make sure the container is deployed with a specific GID -- that way I can put the minecraft admins (outside the container) inside of a group that has write access to "/data"

So I added this to start.sh,

[code]

But the umask also needs to be done in start-minecraft.sh,

[code]

I was going to do a pull request, but I wonder i

[2016-01-14 19:48] #54 closed

[2016-01-15 00:09] itzg commented on #55
I think that's a great idea, so definitely move forward with a PR. As for the umask, I think deriving it from the presence of GID makes sense.

As an aside I still wish Docker had some better support for mapping host to container users. Also, you might find that doing a 'docker exec' into the container to edit files and 'docker cp' to bring files in and out might suffice...but not really kid frien

[2016-01-16 00:04] rrauenza commented on #55
Great!  Glad you like the idea -- I'm probably going to fork off my own now, though, partly to learn more about Docker, and partly because I'd rather have a CentOS container.  I'll continue to feedback ideas back into yours if you like.

One change I did is move away from jsawk to jq, since it is an installable package:

[code]

I also switched to curl because by default wget makes backups.

I spe

[2016-01-16 00:11] itzg commented on #55
Actually, I'd love to switch to `jq` and `curl`. In fact, somewhere in my local repo I actually made the conversion to `jq`. I have much more experience with that tool vs the 5 minutes experience I gained on `jsawk` in the Minecraft script. So I'd be happy for contributions of all of the above.

Now a `FROM` switch to CentOS gets complicated :).

[2016-01-27 14:16] masifpak opened #56 "How can we go inside individual container?"
How can we go inside the individual container.

$ sudo docker attach es0    (But no to avail.)

[2016-01-27 14:39] itzg commented on #56
@masifpak , if you're wanting to go into a container to inspect and edit the file system, such as configuration files, then use [docker exec](https://docs.docker.com/engine/reference/commandline/exec/).

[2016-01-28 06:01] masifpak commented on #56
Actually i installed ssh and supervisor. In supervisor.conf I added the following lines.

[supervisord]
nodaemon=true
[program:sshd]
command=/usr/sbin/sshd -D
[program:elasticsearch]
command=/bin/bash -c "/start"

In docker file I just replaced start script with    CMD ["/usr/bin/supervisord"]
But when I run this container, it just exited. How can I troubleshoot the reason of exit.

[2016-01-28 14:06] itzg commented on #56
Even though using supervisord to add ssh into the container is technically valid, it is actually one of the [Docker anti-patterns](http://techblog.constantcontact.com/devops/a-tale-of-three-docker-anti-patterns/). Did `docker exec` not achieve what you needed?

As far as troubleshooting, see if `docker logs` reveals anything about the failure.

[2016-01-29 07:24] masifpak commented on #56
Good. I read Docker anti-patterns. I should not use ssh. Please help me understanding some part of Dockerfile and start script.

**# ## Dockerfile**
1- touch /data/.CREATED /conf/.CREATED        # Why to create ".CREATED" files.
2- VOLUME ["/data","/conf"]                                # /data and /conf is being mount on host machine so that elastic data store on host to avoid container getting l

[2016-01-29 10:19] masifpak commented on #56
One more thing.

when i run container without volumes mapping it run fine.
sudo docker run -h es0 --name es0 -d -p 9200:9200 -p 9300:9300 es:latest

but when i run using volumes as below it sends permission error. Any clue please?

sudo docker run  -it -h es0 --name es0  -v /opt/oescluster/es0/data:/data:rw -v /opt/oescluster/es0/conf:/conf:rw   -p 9200:9200 -p 9300:9300 es:latest

cp: cannot crea

[2016-01-29 14:56] itzg commented on #56
Deep questions :) Let me see if I can remember what all I was doing there:

First some background about container UIDs. Related to this issue https://github.com/docker/docker/issues/7198, coordinating the file ownership of attached volumes gets a little strange when the container UID (elasticsearch=999 in this case) does not match an existing host UID. FYI, here's how I confirmed the container UID

[2016-01-31 07:40] nigels-com opened #58 "Trouble with Minecraft 1.8.9 Forge 11.15.1"
`-e VERSION=1.8.9 -e TYPE=FORGE -e FORGEVERSION=11.15.1.1722`

For some reason the script is stripping off the *.9* and failing to download the requested 1.8.9/forge version combo.  But with the following hack,it works:

[code]

[2016-01-31 14:58] itzg commented on #58
Ugh, the Forge's versioning scheme got strange with Minecraft 1.8.x...and since the time I put all that complicated logic in there they seem to have gone back to normal with the three-part versions:

![image](https://cloud.githubusercontent.com/assets/988985/12702811/98250d38-c7f8-11e5-95cd-61043f68187d.png)

This would explain why your change was needed to fix it. I'll go in and trim down a bunch

[2016-01-31 15:13] itzg commented on #58
I have successfully tested the fix I'm about to push with these various combinations of versions:

[code]

[2016-01-31 15:13] #58 closed

[2016-01-31 15:24] itzg commented on #58
Image `6f7f0cfa96a2` with this fix is now pushed to Docker Hub

[2016-01-31 23:14] nigels-com commented on #58
Awesome, thanks.

[2016-02-02 17:54] itzg commented on #56
I'm closing to close out the issue, but @masifpak , feel free to ask more questions as they come up.

[2016-02-02 17:54] #56 closed

[2016-02-02 17:54] itzg commented on #55
Resolved by #57

[2016-02-02 17:54] #55 closed

[2016-02-02 17:56] itzg commented on #42
@dhanugupta , are you still experiencing issues with this or have any more findings?

[2016-02-02 18:12] itzg opened #59 "Upgrade to latest (but legacy) ES releases 1.x, 2.1.x"

[2016-02-29 18:32] DanTheColoradan opened #61 "1.9 release causes incorrect forge file to be called"
forge-1.9-11.15.1.1722-universal.jar should be forge-1.8.9-11.15.1.1722-universal.jar. ~~For prosperity, @itzg created a `ComparableVersions` for that reason and it just needs to be altered to fix this.~~

I believe the shell script just needs to be updated.

[summarized from Slack chat]

[2016-02-29 18:41] DanTheColoradan commented on #61
Ok. I figured it out. My docker compose file was creating the container without setting the `VERSION` environment variable. That meant it was assuming 1.8.9, however, 1.9 came out, it assumed 1.9 was the primary version which didn't match the forge version I selected.

[2016-02-29 18:41] #61 closed

[2016-03-04 15:50] miles opened #62 "minecraft-server not downloading Spigot 1.9"
Spigot 1.9 is available. I haven't had a chance to dive into this, but a quick scan of the start-minecraft.sh I think the URL may have changed. I was able to manually download Spigot-1.9 from http://getspigot.org/jenkins/job/Spigot/lastSuccessfulBuild/artifact/spigot-1.9.jar

[2016-03-04 15:54] itzg commented on #62
Ah yes, the `spigot18` bit in the URL path will probably interfere with 1.9. I'll take a look later when I'm off a corporate LAN, but you're also welcome to submit a PR...if so, see if there's a `spigot19` directory to make it more deterministic than the Jenkins link.

[2016-03-05 04:13] #62 closed

[2016-03-05 04:22] itzg commented on #62
This is now pushed to hub, so do a `docker pull itzg/minecraft-server` and you should be good to go.

[2016-03-05 16:38] miles commented on #62
Thank you! I'm new to github and development in general, so when you said submit a PR, I knew you meant a Pull Request, but I didn't know how to submit one :/

I'd like to help your project in some way. Is there a place where you chat about it or have some sort of TODO list?

[2016-03-05 16:46] itzg commented on #62
Awesome and I'd be glad to help get you up to speed. Here's a Gitter chat area for `dockerfiles`

[![Gitter](https://badges.gitter.im/itzg/dockerfiles.svg)](https://gitter.im/itzg/dockerfiles?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge)

and over here there's a couple people helping out on a web app to create a Minecraft server containers "as a service" (aka [MCCY](https://github.com/m

[2016-03-05 16:46] itzg commented on #62
...and yep, you're spot on: PR = pull request

[2016-03-11 18:45] embik opened #63 "[minecraft] Error: Invalid or corrupt jarfile minecraft_server.1.9.jar"
I'm trying to create a docker container based on itzg/minecraft-server. Unfortunately, starting the docker container fails with the error message `Error: Invalid or corrupt jarfile minecraft_server.1.9.jar`. I'm not sure if this is an issue with the image or with some kind of configuration I messed up, but I'm glad for any help. Relevant files and logs are attached:

**docker-compose.yml**
[code]

[2016-03-11 18:51] embik commented on #63
Nevermind, I'm an idiot. `/var/docker/minecraft/server/data` contained damaged (?) files. Cleaning up the folder fixes this for me.

Thanks for you work on this docker image!

[2016-03-11 18:52] #63 closed

[2016-03-11 18:56] itzg commented on #63
Cool. I had recently fixed something for Bukkit 1.9 and was worried I left a debug line in there :)

[2016-03-15 11:45] itzg opened #64 "Server jar download needs tolerate outage during restart"

[2016-04-07 12:49] brantje opened #66 "Use spigot buildtools"
As per version 1.8 of spigot, using the buildtools is now recommend.
Here is a short how buildtools works: https://www.spigotmc.org/threads/buildtools-updates-information.42865/

And a small docker script is here:
https://github.com/ruippeixotog/docker-spigot/blob/master/Dockerfile

Is it possible that you update your container to make use of the buildtools?

Thanks for your container, really enjo

[2016-04-07 14:11] brantje commented on #66
Working on it, currently getting permission errors for /root

[2016-04-07 14:15] itzg commented on #66
Cool and thanks for taking a stab at it. What kind of errors are you seeing exactly? So far hadn't made use of /root...so perhaps the build needs to happen after the sudo to 'Minecraft' user.

Now we will need to keep an eye on the build time slowing down the startup of the container...a vaguely remember that was a barrier before.

[2016-04-07 14:17] brantje commented on #66
Where do you switch to use minecraft user?

[2016-04-07 14:24] itzg commented on #66
It happens at the end of 'start.sh', so make sure you're putting changes into 'start-minecraft.sh'

[2016-04-07 14:32] brantje commented on #66
Thanbks, i go fiddle with it, this is my first container i'm going to edit ^_^.

[2016-04-07 14:33] itzg commented on #66
Enjoy. It's basically a disposable shell environment, so if you mess up just run another container :)

[2016-04-07 15:33] brantje commented on #66
Currently it always rebuilds spigot on boot, maybe add an method to check if spigot_server.jar exists, if not start the building?

[2016-04-07 16:26] brantje commented on #66
It works! Can you check my spigotBuildTools branch?
If everything looks ok i'll make a PR

[2016-04-08 08:51] brantje commented on #66
@itzg i've added some ENV variables but they are not working?
Trying to figure out what i'm foing wrong.
My docker run command:
[code]
And the code i'm using is [here](https://github.com/brantje/dockerfiles/commit/d2c3865be388df572c412811fad781e6e98fa762)

[2016-04-08 11:50] itzg commented on #66
That's strange that sed wouldn't process the new ones correctly. In any case, I'll be able to take a deeper look at all your changes later today.

[2016-04-08 11:53] brantje commented on #66
Enable query / Enable rcon works.
Howver setting a rcon_password doens't
However it is in the variables:
[code]
Thanks for looking at my code

[2016-04-08 13:19] brantje commented on #66
All of my ENV variables are working!

[2016-04-13 13:47] MartinBrugnara opened #68 "titan-gremlin crashes on start"
Execution dump:
[code]

Compose file:
[code]

[2016-04-13 17:42] Farigh commented on #66
Hi,
I've been messing with the container too and dispite using forge, I noticed BUKKIT is converted to SPIGOT wich might not be what the user wan't. It would be better to display a warning or error message telling it's not supported (and eventually fallback to SPIGOT anyway)

[2016-04-14 00:31] itzg commented on #68
Using your compose file I am experiencing the same issue. It seems to be something with the cassandra image configuration specifically...I can access port 9042, but not 9160 which is the RPC port that astyanax talks over.

I'll investigate further...

[2016-04-14 01:00] itzg commented on #66
Good idea @Farigh about displaying a warning at least. @sshipway I remembered we talked about some of this in https://github.com/itzg/dockerfiles/pull/52 ...the current logic will always "upgrade" to Spigot, right?

[2016-04-14 01:05] sshipway commented on #66
The thing about Bukkit is that the project has been 451'd by the powers that be, and it is no longer distributed or in active development.  Since Spigot is (supposed to be) fully compatible with Bukkit modules, converting Bukkit to Spigot makes sense.  Also, there is no reliable way to download a Bukkit JAR file at the moment whereas Spigot can be downloaded and even distributed along with the con

[2016-04-16 22:04] itzg commented on #66
@sshipway , I haven't dug in class by class, but at least at the top level are very slight differences in zip contents/sizes, so I'm still confused by this whole Bukkit / Spigot thing :(

![image](https://cloud.githubusercontent.com/assets/988985/14583865/042a4268-03f5-11e6-897e-e73924eb3222.png)

![image](https://cloud.githubusercontent.com/assets/988985/14583875/3180447e-03f5-11e6-9f6f-48dfdb7d6

[2016-04-17 17:29] itzg commented on #68
@MartinBrugnara , I have pushed the fixed images to Docker Hub, so `docker pull` those and double check the issue is resolved for you.

I did find that Titan/Gremlin doesn't work with ES 2.x, so I had to use this modified Docker Compose:

[code]

[2016-04-18 03:15] itzg commented on #66
Fixed by #67

[2016-04-18 03:15] #66 closed

[2016-04-18 03:17] itzg opened #69 "[mc] Output message that Bukkit selection is converted to Spigot"
Spinning off from https://github.com/itzg/dockerfiles/issues/66#issuecomment-209560162

[2016-04-18 11:59] MartinBrugnara commented on #68
I confirm, with the new images it works perfectly.

Thank you so much for the fix and for your responsiveness!

[2016-04-18 11:59] #68 closed

[2016-04-18 23:33] itzg commented on #53
Fixed by code changes for #68

[2016-04-18 23:33] #53 closed

[2016-04-23 01:38] itzg opened #70 "Support VERSION to dictate built version of BUILD_SPIGOT_FROM_SOURCE"
https://www.spigotmc.org/wiki/buildtools/#1-8-8 provides the `--rev` option that could be used.

[2016-04-24 03:24] #70 closed

[2016-04-24 03:51] tedgaunt opened #71 "TYPE=BUKKIT broken without building source"
TYPE=BUKKIT is broken, unless building source.  fails to map to correct URL to get spigot server jar

[2016-04-24 03:58] itzg commented on #71
About 20 minutes ago I pushed a new image to Hub with ID `sha256:b7774308fa74c714e2e2f3e258f4b5702c916a04a0036b372386b1c0664b0434`.

I just now tried these two scenarios and they are now (but weren't before the latest fix) working as I'd expect:

[code]

and then to grab Spigot specifically:

[code]

Please double check with the latest image, but let me know if you're still experiencing problems w

[2016-04-24 05:24] tedgaunt commented on #71
That fixed it.  Thanks!

[2016-04-24 05:24] #71 closed

[2016-04-24 05:28] tedgaunt opened #72 "cannot stop/start or restart container if /data volume is mounted"
I happen to be running with TYPE=BUKKIT, but this probably happens with other types as well.

I'm mounting /data volume.   I expect to be able to stop the container, and start the container.  However, the subsequent start container causes

usermod: no changes
mkdir: cannot create directory '/home/minecraft': File exists.

As a workaround, I found that I can "clear" the container, and then the star

[2016-04-24 10:19] Farigh commented on #72
Same here, consider using this instead, that solved the problem for me :
`mkdir -p /home/minecraft `

[2016-04-24 11:17] itzg commented on #72
Thanks @Farigh , a -p is exactly what I need there.

[2016-04-24 12:35] itzg commented on #72
Pushed the fix to Hub at image ID `sha256:80773aee87afe6dbf5bb2ee510273aa775da2633ae4db40292e8b44da0545780`

[2016-04-24 12:35] #72 closed

[2016-04-24 14:42] itzg opened #73 "Testing issues via zapier"
Body of the issue

Reported by itzgeoff@gmail.com

[2016-04-24 14:42] #73 closed

[2016-04-24 14:46] itzg opened #74 "[mc] Connectivity failures during download need to be presented"
That is really strange that the slower speed correlates to a failed jar
file. Since the output of the download is suppressed, there might be an
access failure occurring. I'll see if I can log the download's output and
display when it fails...

On Sun, Apr 24, 2016, 8:30 AM Wouter Van den Heede wrote:

Reported by itzgeoff@gmail.com

[2016-04-24 15:18] itzg opened #75 "Plugins cp'ing not working when running TYPE=BUKKIT and BUILD_FROM_SOURCE"
Using

[code]

The craftbukkit server now works full back to version 1.8.8. The only problem I have now had the following:
The copy utility for plugins is gone.

[code]

[2016-04-24 15:34] tedgaunt commented on #72
Thanks man.  Looking good.

Thanks for your service on this container.  It has been really helpful to
quickly run minecraft for my kids.  Much easier doing it this way, than
having to fiddle with everything manually each time.

On Sun, Apr 24, 2016 at 7:35 AM, Geoff Bourne <notifications@github.com>
wrote:

[2016-04-24 15:38] itzg commented on #72
You're very welcome @tedgaunt . Since your "customers" are your kids :), you'll relate to this article I wrote for Carina https://getcarina.com/blog/deploying-and-building-minecraft-as-a-service/

[2016-04-24 17:57] tedgaunt commented on #72
Thanks for the pointer.  Reading your article now and signing up on Carina.

On Sun, Apr 24, 2016 at 10:38 AM, Geoff Bourne <notifications@github.com>
wrote:

[2016-04-24 19:48] #74 closed

[2016-04-24 19:48] #75 closed

[2016-04-24 19:49] itzg commented on #64
Fixed in cf5d194b1444ad8a3ba8a3549375af5a5a4d42fb and b5e459ab0a07f99c9391fe50ebe1eb88937f42bb

[2016-04-24 19:49] #64 closed

[2016-04-25 16:40] tedgaunt commented on #72
Very interesting.  I spent a few minutes trying the mccy source, but it
failed to build through mvn ... I didn't look into why.

very curious as to what the mincraft container yard looks like.  Is there a
demo logon, or is that private?

On Sun, Apr 24, 2016 at 10:38 AM, Geoff Bourne <notifications@github.com>
wrote:

[2016-04-25 18:03] itzg commented on #72
Yes, there's a test instance at

https://mccy-staging.itzg.me/

and if you arrow over to the login screen, the login is mccy/testing

As for the maven error, feel free to send me any snippets and I'll see what
it's doing. I also need to circle back with some Docker-ish instructions
for building within a container.

On Mon, Apr 25, 2016 at 11:40 AM tedgaunt <notifications@github.com> wrote:

[2016-04-25 18:04] Farigh opened #76 "java called twice"
I don't know if there are any reason for that but I noticed you ran the java process twice in start-minecraft.sh :

[code]
First in the if/else part and then after it a second time.
I've been adding a pipe to easilly communicate with the server and removed the last call through [this patch](https://github.com/Farigh/minecraft-server-utils/blob/master/.utils/docker-diff/start-minecraft.patch) and i

[2016-04-25 19:41] itzg commented on #76
Oh yeah, that's a definitely a typo, but it never executes that line since the exec swaps in the Java process from that point forward.

[2016-04-26 17:51] Farigh commented on #76
My bad I'm piping to exec that's why I did get there.
Still dead code :)

[2016-05-03 22:46] bnaylor opened #77 "TYPE=spigot broken - getspigot seems to be toast"
This fails:

  curl -o /tmp/versions -sSL https://getspigot.org/api/getversions

Looks like that domain is redirecting to mcadmin.net now, and the certs are wrong and the url is a 404 as well.

[2016-05-04 01:53] itzg commented on #77
Hmm, I wonder if they were "asked" to change their site name to avoid confusion with Spigot itself.

I'll have to investigate a little more since they didn't seem to transplant the `/api/getversions` call as it was before.

[2016-05-04 02:13] itzg commented on #77
@bnaylor , as a workaround you can add `-e BUILD_FROM_SOURCE=true`...

[2016-05-10 00:34] itzg commented on #77
@bnaylor , can you try out the latest image to confirm the fix works for you too?

The image ID is sha256:a68fe49cc24e433883c242ac4e69b4ba1b7a2508b9e3f810b95cf35ecbf37240

[2016-05-10 01:10] bnaylor commented on #77
Works now -- thanks!

[2016-05-10 02:34] #77 closed

[2016-05-12 22:02] jmiahman opened #78 "Add Sponge.."
You can add sponge as well, and maybe build it from git as bleeding right now is 1.9. If you need help on how to build it, let me know.

[2016-05-13 00:59] itzg commented on #78
I'm not that familiar with Sponge. Do you prefer the SpongeForge or SpongeVanilla variant?

[2016-05-13 03:30] jmiahman commented on #78
Spongevanilla would be the easiest

On Thu, May 12, 2016, 5:59 PM Geoff Bourne <notifications@github.com> wrote:

[2016-05-13 16:19] jmiahman commented on #78
Just to let you know, Sponge.. though slow going.. Is a new API for minecraft plugins. A lot of developers from Bukkit, when the big blowup happened left, merged with a few other projects and created Sponge. It's a fairly nice community to work with and though it's still in it's BETA phase, has many useful plugins already offered. When Bukkit was still a thing I first tried Spigot and didn't care

[2016-05-13 20:09] itzg opened #79 "Update version options in README for Bukkit/Spigot"

[2016-05-16 02:06] itzg commented on #78
That's cool. Thanks for the background.

I didn't get a chance to work on this over the weekend.  Speaking of which, you're welcome to contribute the changes to add support.

[2016-05-16 02:17] itzg commented on #78
...ok, the build is gradle based, so the remaining trickiness is mapping versions, picking the latest, etc. For the prebuilt 1.8.9 and below, we'll need to see if their site exposes a REST API to resolve versions to download URLs.

[2016-05-16 14:47] jmiahman commented on #78
Here's the script I run to download the latest "bleeding" versions that's TypeId=2 in the URL and the stable 1.8.9 is TypeId=1

[code]

[2016-05-29 00:34] jbeda opened #80 "Minecraft: Spigot pegs CPU"
It turns out that spigot will peg the CPU when stdin is disconnected.

See https://www.spigotmc.org/threads/high-cpu-usage-solved.87634/page-2

Turns you you need a `--noconsole` option.

[2016-05-29 00:36] jbeda opened #81 "Minecraft: Clean shutdown?"
Feature request

It turns out that Minecraft doesn't save state on shutdown.  You have to inject a `/stop` command into the console.

This has been done by others with screen and pushing input form a script.

Also might be possible using rcon but I don't see an obvious packaged client there.

I'd consider doing this with a bash shutdown hook. We'd want to stop `exec`ing java and just make it a reg

[2016-05-29 00:38] itzg commented on #80
Thanks for researching that.

[2016-05-29 00:44] itzg commented on #81
Hmm, it seems like the SIGTERM used to close out the server process gracefully, but maybe that behavior isn't consistent across versions. I'll investigate something, especially in the realm of `rcon`...might have to put together a little java app for that.

[2016-05-29 00:56] itzg commented on #80
So far, local testing seems to confirm the same fixed behavior as the discussion thread:

![image](https://cloud.githubusercontent.com/assets/988985/15630756/1e540248-250e-11e6-948e-5251a068377d.png)

[2016-05-29 01:27] itzg commented on #80
When running without `--noconsole`, the CPU usage seems to be equivalent for me. @jbeda , can you double check that you ran your container with the `-it` options, such as:

[code]

BTW, a workaround for #81 is to `docker attach` and enter the `stop` command:

[code]

[2016-05-29 01:29] itzg commented on #78
I finally got around to this...and then found their sites aren't cooperating right now

![image](https://cloud.githubusercontent.com/assets/988985/15630880/e797faf2-2512-11e6-87ed-8bb853976794.png)

[2016-05-29 02:11] itzg commented on #80
For now I enhanced the container entry point to pass through any extra args to the server invocation, such as

[code]

[2016-05-29 15:30] jmiahman commented on #78
Sorry about that

https://repo.spongepowered.org/maven/org/spongepowered/spongevanilla/?buildTypeId=2

Should work now.

On Sat, May 28, 2016, 6:29 PM Geoff Bourne <notifications@github.com> wrote:

[2016-05-29 15:32] itzg commented on #78
Yep, now their servers are good :)

[2016-05-29 15:41] itzg commented on #78
Some notes:

    https://repo.spongepowered.org/maven/org/spongepowered/spongevanilla/?buildTypeId=:buildType&startAt=:startAt

* buildType
  * 2 = bleeding
  * 7 = beta
  * 5 = release (but none available)
  * (absent) = default

* startAt
  * (absent) = first page
  * Revision?

Each artifact version string is text of

    body > div.container > div > div > ol.builds > li:nth-child(*) > span

Ea

[2016-05-30 03:57] jbeda commented on #80
Thanks! I'll check it out tomorrow and test.
On Sat, May 28, 2016 at 7:11 PM Geoff Bourne <notifications@github.com>
wrote:

[2016-06-01 13:56] jmiahman commented on #78
Nice, Great Job!

[2016-06-02 01:42] jasmith86 opened #82 "/data/bootstrap.txt has no effect"
Currently the portion of [_start-minecraft.sh_](https://github.com/itzg/dockerfiles/blob/master/minecraft-server/start-minecraft.sh) that handles the contents of /data/bootstrap.txt does nothing:
Line 401: `    exec java $JVM_OPTS -jar $SERVER "$@" < /data/bootstrap.txt`

I propose changing this to:
`    exec java $JVM_OPTS -jar $SERVER "$@" $(< /data/bootstrap.txt)`

This way it properly handles

[2016-06-02 03:49] jasmith86 commented on #80
I ran into this problem with Spigot as well. To fix on my server I added _--noconsole_ too _/data/bootstrap.txt_. I also had to modify the start-minecraft script to pass the parameter to java: [https://github.com/itzg/dockerfiles/issues/82](https://github.com/itzg/dockerfiles/issues/82).

[2016-06-04 17:49] itzg commented on #80
Oops, might have closed too soon.

The challenge with applying `--noconsole` by default is that it'll defeat the ability to later `docker attach` when using `-it` on container creation.

@jbeda @jasmith86 , do you think it would be sufficient to document the new ability to pass command line args, like `--noconsole`, but leave the default as-is?

[2016-06-04 20:49] itzg commented on #82
With the additional feature in #80 you might have noticed that the bootstrapping has to do with piping commands into the server's console rather than command line args.

I think this particular issue can be closed since I double checked it's still working as designed. For example, with `data/bootstrap.txt`

[code]

This contrived example will startup, dump first page of help, and stop the server:

[2016-06-04 20:49] #82 closed

[2016-06-06 01:08] itzg commented on #78
I'm getting closer. I have created a little tool in Go that scrapes and converts page segments to JSON:

https://github.com/itzg/restify

Now to slice and dice it with jq...

[2016-06-06 02:50] itzg commented on #78
It's certainly uglier than the grep approach, but here's a "restify | jq" solution:

[code]

[2016-06-06 15:56] jbeda commented on #80
I think that having a warning (perhaps a big `echo` block) that you should
probably pass `--noconsole` when using spigot but that `docker attach` then
doesn't work would be good.  I'm betting other folks are pegging CPUs and
don't have the time/google-fu to figure out what is going on.

On Sat, Jun 4, 2016 at 10:49 AM Geoff Bourne <notifications@github.com>
wrote:

[2016-06-11 22:53] NetworkEng opened #83 "Minecraft: start-minecraft.sh needs updated URL for versions.json download"
Per the comment at the top of the file in the current URL, the current location will be phased out.

**`$ curl -sSL https://s3.amazonaws.com/Minecraft.Download/versions/versions.json | grep __comment`**
`    "__comment": "This URL is being phased out! Please update your scripts to check https://launchermeta.mojang.com/mc/game/version_manifest.json instead. Thanks <3 --Dinnerbone",`

Please update

[2016-06-11 23:32] NetworkEng opened #84 "Minecraft: enhancement - new functionality being provided in the new versions.json"
Digging around in the new versions.json file, there are now version / release specific URL's included, pointing to release specific JSON files.  e.g., check the outputs for the following two commands:

`curl -sSL https://launchermeta.mojang.com/mc/game/version_manifest.json | jq -r '.versions'`

`curl -sSL https://launchermeta.mojang.com/mc/game/version_manifest.json | jq -r '.versions[0].url'`

C

[2016-06-11 23:36] itzg commented on #84
I noticed the new json file had a new cross-reference, but hadn't poked into one of those. Now that I'm looking, I wonder this is primarily info used by the launcher; however, keep me posted here as you find any specific goodies in there.

[2016-06-11 23:50] #76 closed

[2016-06-12 00:04] NetworkEng commented on #84
The version / release specific json file urls within versions.json contain some pretty significant information in regards to where the server jar files will likely be maintained in the near future.  Note that they are not pointing to AWS.  :)

I think this is significant for two reasons. One, they are already planning to deprecate the location of versions.json, moving it to launcher.mojang.com, an

[2016-06-12 00:42] NetworkEng commented on #84
Well, now that I have dug a bit deeper into the whois record for launcher.mojang.com, (for me) it's pointing to a server under cloudfront.net, which is Amazon.  That said, I think it may be best to future proof getting the server download URL in a manner similar to what I showed above.  I'd still bet that they could move off of the old AWS URL in the future.  Probably the main thing that's holding

[2016-06-12 01:51] itzg commented on #84
Agreed, these do seem to be signs that they would do the logical thing and move off their competitor's CDN. Regardless, you bring up a good point that the definitive jar URL is conveyed in that metadata. I'll replace the path derivation with the metadata...or you're welcome to submit a pull request.

[2016-06-12 03:01] #79 closed

[2016-06-12 03:21] #83 closed

[2016-06-13 00:21] itzg commented on #78
**More restify | jq notes:**

Get just the newest build's version

    jq -r '.[0].elements[0].elements[] | select(.class == "build-version").text'

Produces

    1.9.4-5.0.0-BETA-62

Get the URL of that build

    jq -r '.[0].elements[0].elements[] | select(.class == "build-artifacts").elements[0].elements[0].href'

produces

    https://repo.spongepowered.org/maven/org/spongepowered/spongevanill

[2016-06-13 07:26] NetworkEng commented on #84
Haven't used jq before now, so here's my attempt at trying to create some bash + jq that will (hopefully without much doubt) get the info that's required.

One thing I don't like about the new versions json file, is that it has all of the versions as a list of elements.  To be sure were getting the latest release, one should probably validate using slightly more complex jq syntax.  E.g.:

    laun

[2016-06-18 23:49] itzg commented on #84
Sorry for the delay. I'll work on getting this into the image tonight. I'm still trying to get a grip on jq, so you're variable usage was quite informative. Thanks.

[2016-06-21 22:12] itzg opened #85 "Also have option to initialize repo with existing content"
...in some cases the initialized repo needs to be pre-pushed with empty content.

[2016-06-24 16:58] itzg commented on #85
It could look into a `/repos` directory and perform a `git push --all URL` of that content into the newly declared gitblit repo.

[2016-06-30 21:29] DeedleFake opened #87 "minecraft-server: /tmp/mcadmin-versions.db Is out of Date"
For example, Spigot 1.10.2 is available, but the `start-minecraft` script refuses to download it because it doesn't think it exists. It won't even run it if I download it manually.

[2016-07-01 23:25] itzg commented on #87
@DeedleFake , the latest image build with `sha256:f8c362e2f5849ac2651e2062d722609f07d13982aa01e5d91e12d0b861c2a727` seems to have fixed this; however, I am also going to switch over to using the [restify](https://github.com/itzg/restify) tool that I wrote to compute available versions at runtime.

[2016-07-01 23:35] #85 closed

[2016-07-02 03:34] #87 closed

[2016-07-03 21:33] itzg opened #88 "Add flag to download RaspberryJuice plugin"
Provide a built-in flag to do the Bukkit plugin described in [the wiki](https://github.com/itzg/dockerfiles/wiki/Minecraft-Pi).

- [ ] Add plugin download flag
- [ ] Add a link to the wiki area in general in the README

[2016-07-04 14:51] larrywright opened #89 "Updating Ops/Whitelist"
Currently there doesn't seem to be a way to update the whitelist of users by way of the WHITELIST environment variable - if the white-list.txt.converted file exists, the value of the WHITELIST environment variable is ignored. Is the intention that that variable is only for the initial setup, and then the whitelist.json file is maintained by hand after that?

Also, I've noticed that if you use eith

[2016-07-04 15:39] itzg commented on #89
Yes, @larrywright , as you speculated the environment variables are only intended for the first-time config of the whitelist and ops.

...however, what you have noticed wasn't a known bug, but I may have missed some cases of first start  vs second start and attached volumes.

How are you starting the container when you observe the WHITELIST and OPS not taking effect?

[2016-07-04 19:41] larrywright commented on #89
I'm using this docker-compose file:

[code]

[2016-07-04 20:15] itzg commented on #89
Hmm, it might be a Bukkit-specific issue since tweaking your compose to run a vanilla server on 25566 processed the ops and whitelist properly. Can you see if you can confirm the same using (but change `itzg` to yourself :) ):

[code]

[2016-07-05 00:18] larrywright commented on #89
Looks like your theory is correct. It works fine if I take out the TYPE: BUKKIT line.

I do see this in the console when I have that line in the first time the server starts up:

[code]

[2016-07-05 00:41] itzg commented on #89
Yeah, I noticed that too. I definitely remember that used to be output from the vanilla server, but isn't there with 1.10 at least. I'm wondering if there's some lag in the Bukkit code base...but I say that completely ignorant of how they decompile Minecraft.

[2016-07-07 20:34] Alacard opened #91 "Problem With Forge and minecraft 1.10"
JVM_OPTS=-Xmx5024M -Xms5024M
VERSION=1.10
FORGEVERSION=12.18.0.2000
TYPE=FORGE
EULA=TRUE

Above is what i have set as my variables but for some reason it dont load forge but just loads vanilla. tryed checking the log (via docker logs -f mc) but the log dont show any errors about loading forge only thing it shows is this

[2016-07-07 23:06] itzg commented on #91
I think you actually found a legit issue; however, my observed output is different. With the compose file:

[code]

It's not properly downloading (or something) the Forge file according to the output:

[code]

[2016-07-10 03:08] jaychris opened #92 "latest container fails to start with option ordering error"
the lead node starts fine, but subsequent nodes, when passing in UNICAST_HOSTS, reports this error:

ERROR: Parameter [-Des.discovery.zen.ping.unicast.hosts=es0] starting with "-D", "-d" or "-p" must be before any parameters starting with --

Here is the startup log:

[code]

and here is the command used to start the container:

`docker run -it --rm --name es1 -h es1 -p 9200:9200 -p 9300:9300 -e O

[2016-07-10 03:12] itzg commented on #92
Oops, I knew about the ordering, but forgot to inspect what the rest of the script would do.

[2016-07-10 03:17] jaychris commented on #92
I've been able to workaround for now by specifying the options directly as part of OPTS since that gets ordered first, like:

-e "OPTS= -Dnetwork.host=0.0.0.0 -Des.discovery.zen.ping.unicast.hosts=es0"

[2016-07-10 03:21] itzg commented on #92
Glad you found a workaround since I'm going to be afk until tomorrow afternoon. It looks like the easy fix is similar where it should use the -D properties style at

    --path.plugins=/conf/plugins"

Eventually I want to swap those all out for the new style arguments.

[2016-07-10 04:45] jaychris opened #93 "latest container build doesn't respect ES_HEAP_SIZE"
passing in "-e ES_HEAP_SIZE=<something>" is no longer picked up.  No matter the setting, ES always starts with the default 1G heap size.

[2016-07-10 05:06] jaychris commented on #93
I think the issue is that  you are executing su like "su -c "$CMD" - elasticsearch", which does not inherit root's environment (including the ES_HEAP_SIZE).  I think the right fix is to remove the "-", like:

su - c "$CMD" elasticsearch

[2016-07-10 05:21] jaychris commented on #93
I worked around the issue by building a local container hosted on my private registry.  When the fixes are validated/checked in, I'll switch back to the public copy... :-)

[2016-07-10 12:27] itzg commented on #93
Thanks for digging into both of these issues. You're very welcome to submit a PR since you have a local solution.

[2016-07-10 20:28] jaychris commented on #93
fixed at sha256:99f265f5a774e3120d1a311e1bb42983137a180b283ce0a90a6b379eb04caa8f

[2016-07-10 20:28] #93 closed

[2016-07-10 20:29] jaychris commented on #92
fixed at sha256:99f265f5a774e3120d1a311e1bb42983137a180b283ce0a90a6b379eb04caa8f

[2016-07-10 20:29] #92 closed

[2016-07-10 20:31] itzg commented on #92
fixed by 87b2ce1c2466e209bc78876b5513aa270e24a852

[2016-07-10 20:31] itzg commented on #93
Fixed by 87b2ce1c2466e209bc78876b5513aa270e24a852

[2016-07-10 21:36] itzg commented on #24
@jaychris, your help on the other issues inspired me to finally knock out this old issue :).

[2016-07-11 02:06] #24 closed

[2016-07-11 02:13] itzg commented on #42
The latest image will only run elasticsearch as an internal, non-root user when launched by default. If run with the `-u=uid` option then an attached `/data` volume can be accessible by the host user with that `uid`. In other words, this latest improvement might help your issue, if it was still occurring.

[2016-07-11 02:13] #42 closed

[2016-07-21 08:02] MartinBrugnara opened #95 "titan 1.0"
Hi,
are you planning to upgrade to titan 1.0?

[2016-07-21 14:31] itzg commented on #95
Yes :) just need to make the time to do it. At the same time you're welcome to contribute a PR.

[2016-07-21 14:45] MartinBrugnara commented on #95
I totally understand you, I will try if I find the time myself.
In the mean time, thank you for you great work!
-- Martin Brugnara

On Thu, Jul 21, 2016 at 4:31 PM, Geoff Bourne <notifications@github.com> wrote:

[2016-07-21 16:52] rakkhin opened #96 "Add support for Paper (drop-in replacement for Spigot) as possible Minecraft Server"
It would be great if PaperSpigot made it's way into the list of supported MC server variants available for choosing when running new containers from this docker. It doesn't require compiling from source, as PaperSpigot team is providing precompiled jar file.

Quote from PaperSpigot site:

[2016-07-21 22:30] itzg commented on #95
I had forgotten that I started on an upgrade here https://github.com/itzg/dockerfiles/tree/titan-1.0.0-upgrade/titan-gremlin

I'll have to see where I left off with that.

[2016-07-22 11:53] #96 closed

[2016-07-31 12:42] scdba opened #98 "-e PLUGINS= not working"
$ sudo docker run  --name es0 -p 9200:9200 -e PLUGINS=lmenezes/elasticsearch-kopf itzg/elasticsearch
Installing the plugin lmenezes/elasticsearch-kopf
-> Installing lmenezes/elasticsearch-kopf...
Plugins directory [/usr/share/elasticsearch-2.3.4/plugins] does not exist. Creating...
Trying https://github.com/lmenezes/elasticsearch-kopf/archive/master.zip ...
Downloading ............................

[2016-07-31 13:58] itzg commented on #98
Sorry, I hadn't circled around to check that with some of the base changes I made recently.

[2016-07-31 15:04] itzg commented on #98
Confirmed plugin got installed during my testing after the fix:

[code]

[2016-07-31 21:45] scdba commented on #98
Great - that was quick!
Thanks for fixing

On 31 July 2016 at 16:07, Geoff Bourne <notifications@github.com> wrote:

--
Aryaguna Watson
Database Development Manager
www.southbankcentre.co.uk

Belvedere Road
London
SE1 8XX

[2016-08-07 05:00] orospakr opened #100 "Set up tagging on Docker Hub Automated Builds so consumers can version lock"
I'm a big believer in repeatable builds/deploys, and so it would be amazing if the automated builds on docker hub were tagged with some regular version numbering (https://docs.docker.com/docker-hub/builds/ talks about how to do it; it can use git tags for example, matched with a regex and passed through into Docker tags).

This is particularly important in Kubernetes environments, where something

[2016-08-08 00:46] itzg commented on #100
I definitely agree. I have created a small mess for myself by originally lumping all my images into one Github repo...however, tagging and labeling is still quite doable.

What particular images would you like to see tagged first?

[2016-08-20 15:51] Snorremd commented on #91
Ran into the same problem as you itzg. Same output:

[code]

[2016-08-28 22:39] Chinthor opened #102 "Unix error code 2"
After finally creating a few working servers, the new ones I make give me these errors every 30 seconds in the server console, one right after the other:

WARNING: Could not lock User prefs. Unix error code 2.
WARNING: Couldn't flush user prefs: java.util.prefs.BackingStoreException: Couldn't get file lock.

Why does it now have this problem? I didn't change anything in docker. It started when I c

[2016-08-28 22:42] itzg commented on #102
@Chinthor , cince I have several images in this repo I just wanted to double check you're trying the `minecraft-server`, right?

[2016-08-28 22:44] itzg commented on #102
...and tell me a little more about the procedure that corresponded with the problem starting.

[2016-08-29 01:28] Chinthor commented on #102
Thanks for the reply. Yes, it is the minecraft-server image. I've been trying to improve the main server I am running and eliminate some problems. Thought I'd duplicate the server and the world and then experiment on the copy. I copied the contents of the working directory to another folder, then used the same command as before to make a new container. This server will run, but gets the above erro

[2016-08-29 02:08] Chinthor commented on #102
Well, that was quick. Kinda. Found the mod with the problem. It begins with this line:
[bspkrsCore]: Initializing ModVersionChecker for mod bspkrsCore

And then tries to do this:
java.util.prefs.FileSystemPreferences$1 run

Followed by warnings that the file it wants to create cannot be created. Followed by the above errors every half minute. The problem is, this mod file is copied directly from a

[2016-08-29 02:57] itzg commented on #102
I was just earlier today struggling with directory permissions with non-root container users...so, yeah, I totally understand.

I think you're onto something with the /home directory permissions. The /data attach point is being managed by the startup script but I'll have to see if I do anything with /home.

[2016-08-29 04:11] Chinthor commented on #102
Thanks again. I'll also take this to the author of that mod. At the very least, there's a chance that he doesn't need to be writing to anyone's /home directory. But since I'm completely new to the workings of docker, you'd be the expert on why this is happening so selectively. Cheers.

[2016-08-29 13:04] itzg commented on #102
Since my day job is Java development I happen to know that the preferences system on UNIXy systems uses the home directory structure for its backing store. (On Windows it uses the registry.)

So...if the mod developer is using Java preferences then that's legit. I should be able to look at this more tonight.

[2016-08-29 13:07] itzg commented on #102
....but it looks like adding /home to this line will fix it

https://github.com/itzg/dockerfiles/blob/master/minecraft-server/start.sh#L7

[2016-08-29 16:28] Chinthor commented on #102
Ooooh! Nice. So, will I have to edit the image? Rebuild one using your files? Or does this post indicate that you've stuck that in and I just have to delete my image and download again. Still new. Still learning.

FYI, ran into another bug. Will post as separate issue.

[2016-08-29 16:34] itzg commented on #102
The approach I use for ongoing development will probably work for you too:

* Clone the `dockerfiles` repo (creating the fork first and cloning that is easier knowing that you'll aim for a pull request)
* Go into the `minecraft-server` directory and make your tweaks
* Run `docker build -t mc .` to build an image with the current directory's context and tag that image as "mc" (or whatever you want)

[2016-08-29 17:44] Chinthor commented on #102
Nice. Problem solution and a learning opportunity. Perfect.

Thanks again for all the help.

[2016-08-29 17:49] itzg commented on #102
And thank you.

BTW, if you need to debug the script execution you can add an `--entrypoint=/bin/sh` along with `-it` to drop into an interactive shell. Sometimes I'll even tweak the script inside the container, run `/start`, tweak, repeat and then just bring the changes out to the checked out copy.

[2016-08-30 21:40] itzg commented on #102
Did you get a chance to look at this? I took a quick look just now and yep, the `/home/minecraft` directory doesn't even exist:

[code]

[2016-08-30 22:13] itzg commented on #102
@Chinthor can you clone, checkout this branch with the fix, and check with your scenario:
https://github.com/itzg/dockerfiles/tree/mc/non-writable-home

...or if you're cool with it, I can merge to master and publish a new image in Hub.

[2016-09-01 09:03] mogadanez opened #103 "ERROR: failed to download"
[code]

logs:

[code]

same for BUKKIT( with different path )

[2016-09-01 12:54] itzg commented on #103
With a quick check from my phone I can see their SSL cert has some issues. I'll research it some more and see if I need/should relax the SSL checking.

[2016-09-02 16:32] itzg commented on #102
I went ahead and merged the fix and pushed to Hub. Its image ID is `sha256:2ee91313cb28cb2037b32dad283f082b9bbff4860c521f6b884b01f84a01ddc9`. Please give that a try @Chinthor and feel free to re-open the issue if you're still seeing the problem.

[2016-09-02 16:32] #102 closed

[2016-09-06 21:48] jmiahman opened #104 "Have chown be smart in start.sh"
The time it takes to chown a data folder can be quite long with regards to starting with existing installs, and ever worse over things like mounted nfs volumes. Maybe check the uid and gid and see if the chown is even needed and not run it if not, or just have a way to turn it off by a flag.

[2016-09-07 02:44] itzg commented on #104
@jmiahman I have pushed a smarter :) version of the startup logic at image ID `sha256:694833030972a1d2343df8f9692c563e29f4b202d264aacfa8c71a26f2ad9a5c`

Can you try that out and confirm it's fixed appropriately?

[2016-09-10 05:16] jmiahman commented on #104
I now get..
Correcting writability of /data ...
chown: cannot read directory ‘/data’: Permission denied

can there be a flag to just turn it off, I know the permissions are set correctly.

[2016-09-10 13:04] itzg commented on #104
Yep, I'll just add a flag to disable. Stay tuned.

[2016-09-10 13:31] itzg commented on #104
Image `sha256:0cd13c4449ee4c8e0bdf57fa508e89c895edad66d551433c55c7d31bf8d359ee` now has an option to skip that:

    -e SKIP_OWNERSHIP_FIX=TRUE

[2016-09-15 23:41] Ashtonian opened #105 "An unexpected error occurred while trying to open file minecraft_server.1.10.2.jar"
[code]

I'm wondering if this is a permissions issue? When I don't specify the parent data volume it works. I'm using the following to build it:

[code]

/media/Lutece is a mergerfs share and it has bunch of files in the minecraft folder.

[2016-09-15 23:52] itzg commented on #105
Yes, I think you're right that it might be a permissions issue. The container runs the minecraft process with uid=1000, and gid=1000. I just found this little trick to view the ownership of a directory

    find /data -maxdepth 0 -printf "%U:%G\n"

so you could try the same with your host's path `/media/Lutece/Applications/MineCraft`. If the owner/group is different then you can pass `-e UID` and

[2016-09-15 23:56] Ashtonian commented on #105
So I think its the fact that it was a mergerfs mount. I can experiment a bit more. But i mapped the host drive directly and it worked...

[2016-09-15 23:59] itzg commented on #105
That makes sense since there was mention of mmap in the error

[2016-09-22 04:26] kstrauser commented on #80
Could `--noconsole` be migrated to trigger off an environmental variable, maybe? I'm running mine container on a Synology NAS, and its GUI doesn't expose the ability to add extra arguments. I could run the container by hand but then I'd lose some of the nice management features.

Would something like this work?

[code]

[2016-09-22 10:40] itzg commented on #80
Excellent idea @kstrauser. Go ahead and create a pull request with your changes and I'll merge that ASAP.

[2016-09-22 14:25] kstrauser commented on #80
It's in #106. CI seems to be having issues (or at least I can't identify anything in the failures that looks related to anything but Docker building slowly).

[2016-09-23 03:22] itzg commented on #80
The image `sha256:cf6731ecaf28994d6ccce839be205a3ab14cb65485d8307d492efe671b939ba9` is now pushed to Hub with #106 's change.

@kstrauser , when you get a chance can you touch up the `README.md` via a PR to cover the new environmental option?

[2016-10-01 17:29] jkoan opened #107 "Minecraft Gamemode"
Hello,
in the case loop is a little Bug,
s* mode will mach survive and spactator mode  ;)
Probably it sould be su* and sp* to mach all cases :)

https://github.com/itzg/dockerfiles/blob/master/minecraft-server/start-minecraft.sh#L362

[2016-10-02 12:18] itzg commented on #107
Good catch, thanks. I'll go with your suggestion :)

[2016-10-02 13:05] itzg commented on #107
Pushed to Docker Hub at `sha256:c0fc7c7ae373d8d2f78f781628ab6b98b7b26622e7f8c5383593e9e9dd018406`

[2016-10-02 13:05] #107 closed

[2016-10-11 13:23] quorak commented on #59
hey @itzg, great es script. it works like a charm. is there a reason that you use these old es versions? would be great to have latest running. eg 5-alpha  ;)

[2016-10-11 13:48] itzg opened #108 "Provide an Elasticsearch 5.0 RC image"
As ES is nearing 5.0 GA, it'll be good to have an image to start developing against and trying out.

[2016-10-11 13:49] itzg commented on #59
FYI, I have opened #108 to track adding the 5.0 RC release as an image.

[2016-10-31 05:40] ferronrsmith commented on #108
ES 5.0 GA has been released. Do you have a time-line for an updated image ?

[2016-10-31 12:32] itzg commented on #108
I'm glad you pinged me on this. Especially since it's GA now, I'll focus on this within the next few days.

[2016-11-01 14:52] sych74 opened #110 "Personal Minecraft Server Hosting in One-Click with Jelastic"
Hi, we built an automation [deployment package for Jelastic cloud](https://github.com/jelastic-jps/minecraft-server) based on the docker image from this repo. More details can be found at this [blog post](http://blog.jelastic.com/2016/11/01/personal-minecraft-server-hosting-docker/). Any feedback for the further improvements will be highly appreciated.

[2016-11-01 15:03] itzg commented on #110
This is an awesome use of the image. I'm going to definitely give it a try ASAP.

My efforts to do something vaguely similar backed by pre-1.12 Swarm is described [here](https://getcarina.com/blog/deploying-and-building-minecraft-as-a-service/). I still have [an instance running](https://mccy.itzg.me), but my work on [the code](https://github.com/moorkop/mccy-engine) has stalled out :(.

Feel free

[2016-11-01 18:01] sych74 commented on #110
Thanks for sharing the links and for the feedback.
Why have you added nginx in front? I do not have too much experience with minecraft server installation, so I did not get this point.

We just published the package and Jelastic public cloud providers will push/promote the package to end users soon. I hope after that we will get feedback from end users, I will definitely share it with you. Everyth

[2016-11-01 18:54] itzg commented on #110
ngnix is only in front of my MCCY web application to provide HTTPS termination. The Minecraft client-server communication is direct to each particular MC container.

That's so cool to hear about it being used for demos. I also came across it being used in a Rexray demo for persistent/multi-host volumes -- it's definitely more fun to demo a Minecraft world than a RDBS :)

You're very welcome.

[2016-11-05 01:29] itzg commented on #108
@ferronrsmith I have pushed changes and a built for 5.0.0 at image ID `5544d7222e22`. Since there were a few changes needed from 2.x to 5.x, can you please double check the image for me?

[2016-11-05 01:31] #104 closed

[2016-11-05 01:38] itzg commented on #100
I have been tagging and branching the more recent versions, so as an example the following are available at this time:

[code]

from https://hub.docker.com/r/itzg/elasticsearch/tags/

[2016-11-05 01:38] #100 closed

[2016-11-05 04:08] ferronrsmith commented on #108
Sure ! Thanks for the fast turnaround

[2016-11-05 04:53] ferronrsmith commented on #108
@itzg Ok I tested this. In different modes :

|mode|pass|
|-----------|-------|
|single node mode | :white_check_mark: |
|unicast cluster mode | :white_check_mark: |
|docker-compose with dedicated type | :x: |

-

Got the following error :

[code]

[2016-11-05 12:27] itzg commented on #108
And thank you for the fast turnaround on the testing. I'll get right onto fixing that.

[2016-11-05 15:58] itzg commented on #108
@ferronrsmith please try the latest that's pushed now, which is `2c1c11aa01ee`. There were some lingering use of the old parameter style. It looks like I also needed to fix the `MIN_MASTERS` option.

[2016-11-05 16:58] ferronrsmith commented on #108
Ok nice. I will retest

[2016-11-06 00:08] ferronrsmith commented on #108
|mode|pass|
|-----------|-------|
|single node mode | :white_check_mark: |
|unicast cluster mode | :white_check_mark: |
|docker-compose with dedicated type  | :white_check_mark: |

[2016-11-06 02:48] itzg commented on #108
Execellent. Thanks so much for your help.

[2016-11-06 02:48] #108 closed

[2016-11-15 23:29] itzg opened #111 "Add feature to auto-install kopf plugin"
https://github.com/lmenezes/elasticsearch-kopf

[2016-11-29 02:56] ferronrsmith opened #112 "Bump Elasticsearch to 5.0.1"

[2016-11-29 03:44] itzg commented on #112
Thanks for keeping me updated on this.

I have pushed `cbd821cd613e` to Hub. Feel free to re-open this issue if you experience any problems.

[2016-11-29 03:44] #112 closed

[2016-11-30 02:21] ferronrsmith opened #113 "Bump Elasticsearch to 5.0.2"

[2016-11-30 04:05] #113 closed

[2016-11-30 04:13] itzg commented on #113
Pushed to Hub at `0703d36a480e`

[2016-12-05 22:07] ikke-t opened #114 "Any change for arm port for raspi?"
Hi,

I was looking for mc server for my son, and I was going to try it on RasPi3. Do you see any problems preventing of trying to build this for arm docker? Like any of the stuff you pull in here other than just the server, are there tight x86 dependencies?

I thought to build it on https://hub.docker.com/r/container4armhf/armhf-alpine/.

[2016-12-05 22:12] itzg commented on #114
I would be fantastic if you could tackle this. The only specific, non-scripts in use are my restify and jq. The former is cross compiled for "arm"...hopefully that's the right flavor https://github.com/itzg/restify/releases

jq also seems to have an arm build.

So seems to be good to proceed.

[2016-12-05 22:16] itzg commented on #114
I forgot to mention that I have an older raspi so I can help work on this too.

[2016-12-06 22:04] ikke-t commented on #114
I started doing it. I need to switch to alpine linux, as that's something small for arm, and actually the only one for arm ATM in dockerhub.

That required some command changes, and I drop useless packages from container. While at it, would you know why there is imagemagick being installed? where is it needed?

[2016-12-06 22:34] ikke-t commented on #114
I need to stop now for a while. The task is two fold: First, to get it work on alpine container, then try make it work on arm. I just got it working on alpine. Last pieces were to add bash and git, which are needed during java build time. My changes are here: https://github.com/ikke-t/dockerfiles/tree/alpine

[2016-12-06 22:34] ikke-t commented on #114
i believe it will build it if I just go back to raspi, with couple line chages there for arm. It was just too slow to keep repeating it on raspi.

[2016-12-06 22:39] ikke-t commented on #114
here's the arm stuff. let's see tomorrow. https://github.com/ikke-t/dockerfiles/tree/armv7hl

[2016-12-06 22:47] itzg commented on #114
Thank you so much for your help on this. I have been working on switching my images to Alpine, so that's even better.

Imagemagik is only used for the server icon conversion, which may not even be used that much for all I know.

Sounds like a great plan of attack. Feel free to get a PR started and we can comment/collaborate.

[2016-12-07 03:04] itzg commented on #114
@ikke-t , the changes are looking really good. It seems like there was a performance reason for setting the starting heap equal to max heap, so looking at this

https://github.com/itzg/dockerfiles/compare/master...ikke-t:alpine#diff-1053f18ff04f4774e258fa2fe19a4841R48

I'm wondering if that shouldn't just be a `HEAP_SIZE` variable exposed for container creation. Then it could be default'ed appropr

[2016-12-07 05:36] ikke-t commented on #114
Hi, I'll have a look later. I went for alpine as it was found with docker search arm. Simple :). I got interested due the idea of very small footprint of it. That also lessens the need for updates if there is less to update. Anyhow, the raspi has so little memory, so the footprint looked good.

I tried to get away with installing much stuff on it, but the Java build pulls quite much dependencies.

[2016-12-07 13:44] itzg commented on #114
Sorry, I didn't notice that this particular one of theirs is based on raspbian. No, smaller footprint is always a great goal for Docker images, so I still prefer the approach you're taking. I also agree that alpine on x86 will be a great milestone.

[2016-12-07 17:22] ikke-t commented on #114
I made the pull request for alpine x86_64 as you mentioned.

[2016-12-07 21:07] ikke-t commented on #114
btw, I tried the raspi version tonight. No result yet, as it keeps building the spawn area for ages. Almost 4 hours spent on 45%. It only uses 1 core for the job. So good news is, the container works, the bad news is it's dead slow. Let's see tomorrow if it will start.

[2016-12-08 01:46] itzg commented on #114
In this article
http://lemire.me/blog/2016/04/02/setting-up-a-robust-minecraft-server-on-a-raspberry-pi/
he talks about it taking forever, but 4 hours seems way too long for kids to tolerate. Perhaps double check that the Java version is not using software floating point.

[2016-12-08 18:55] ferronrsmith opened #116 "Bump Elasticsearch to 5.1.1"

[2016-12-08 19:34] ikke-t commented on #114
By googling around it seems openjdk is much slower on arm than oracle java. Unfortunately oracle is not distributable, I assume, so nogo in premade containers? It would require adding glibc into alpine. I don't quickly find such maintained container for arm either. There are those for x86.

[2016-12-08 21:22] ikke-t commented on #114
I tried now with just Oracle java. It starts within 4 minutes.

[2016-12-09 05:02] ikke-t commented on #114
Now I tried both Oracle java and openjdk out of container. Running on RasPi3 Fedora 25 Linux, it takes openjdk 3.5 hours to start minecraft server, where as 4 minutes with Oracle java. Wau. Quite a difference.

[2016-12-09 23:16] itzg commented on #116
Upgraded image on hub is `9e176d0a724b`

[2016-12-09 23:16] #116 closed

[2016-12-10 19:54] Kianda commented on #81
Tried this sending a command to the docker attach with this

echo 'help' | docker attach mc

but as response i get:
"the input device is not a TTY"

So there is still no way to stop the server saving the world correctly?

Thanks

[2016-12-11 01:50] jbeda commented on #81
I guessing that the best way to do this would be via rcon.  This seems like a useful tool: https://github.com/Kealper/Batchcraft

[2016-12-11 02:56] itzg commented on #81
Good find, @jbeda . With the [ENABLE_RCON](https://github.com/itzg/dockerfiles/tree/master/minecraft-server#rcon) the combination of these two would be the most robust solution.

[2016-12-11 14:47] ferronrsmith opened #118 "Bump Logstash to 5.1.1"

[2016-12-11 14:50] itzg commented on #118
Wow, the current `itzg/logstash` is way out of date. Bear with me since it may take longer to resuscitate this one.

[2016-12-11 15:01] ferronrsmith commented on #118
Haha ok np

[2017-01-03 19:33] itzg opened #119 "Bean registration error during startup"
_Reported by Hub user javabuh_

When I'm starting elasticsearch I get error with bean registration. It looks like this:

[code]

Is it possible that this error cause problems with discovery elasticsearch containers running in different mode (GATEWAY, MASTER, DATA)?
I'm sorry I din't formatted exception. I couldn't find markdown syntax.

So, finally I get rid off error with bean registration.
1] Ne

[2017-01-03 19:34] itzg opened #120 "Typo in README for DISCOVER_HTTP_IP"
_Reported by Hub user ptylenda_

In case of Docker Swarm Mode usage, there is a typo in readme:
DISCOVER_HTTP_IP is the proper env key, whereas the docs say DISCOVERY_HTTP_IP (mind the extra "Y" letter)

[2017-01-03 19:38] itzg opened #121 "Add note to top of README about ES5 mmap requirement"
The note basically needs to point to https://www.elastic.co/guide/en/elasticsearch/reference/current/vm-max-map-count.html

[2017-01-03 19:38] #110 closed

[2017-01-03 19:40] itzg commented on #59
Added

- https://github.com/itzg/dockerfiles/tree/es-2.2.0
- https://github.com/itzg/dockerfiles/tree/es-2.3.4
- https://github.com/itzg/dockerfiles/tree/es-2.4.3

[2017-01-03 19:40] #59 closed

[2017-01-05 02:38] #119 closed

[2017-01-05 02:38] #120 closed

[2017-01-12 06:44] mikesager opened #122 "Base image 'java' for Minecraft is deprecated in favor of 'openjdk'"
FYI, per the Docker Hub description for the java base image:

[2017-01-13 01:22] itzg commented on #122
Thanks. I hadn't switched some of my other images but forgot to circle around for here.

[2017-01-13 01:41] #122 closed

[2017-01-13 12:45] quorak opened #123 "Swarm Tutorial seems only to work, when the overlay network name is es"
hey there,

i followd https://github.com/itzg/dockerfiles/wiki/Swarm-mode-production-grade-Elasticsearch-cluster  .
Everything works like a charm. But when I give the network a different name (but still in overlay mode) it doesn't seem to work.

I get various connection Timeouts

[code]

Do you have a Idea why? Is it somehow hardcoded?

thanks a lot best

[2017-01-14 00:50] itzg commented on #122
Pushed to Hub at image ID `9ec4d889769f`

[2017-01-14 00:52] itzg commented on #123
Did you also change the `--network` references to "es" in the `service create` commands?

[2017-01-15 14:52] itzg commented on #116
@ferronrsmith I finally got ahead of you on upgrading to 5.1.2 :)

https://hub.docker.com/r/itzg/elasticsearch/tags/

[2017-01-15 15:34] ferronrsmith commented on #116
Nice!

[2017-02-02 04:02] ferronrsmith opened #124 "Bump Elasticsearch to 5.2.0"

[2017-02-03 02:05] itzg commented on #121
Fixed in 262816bd2d799bb9574f7455e7529447d3bbd4be

[2017-02-03 02:05] #121 closed

[2017-02-03 02:51] itzg commented on #124
Latest is built and pushed at https://hub.docker.com/r/itzg/elasticsearch/builds/bzyghhkyu5twcuc9umsagkv/ and tags for `5.2.0` and `5.2` are building now.

[2017-02-03 02:51] #124 closed

[2017-02-03 19:53] itzg commented on #123
@quorak now that swarm mode in Docker 1.13 support compose files, I was able to double check with [this compose file](https://raw.githubusercontent.com/itzg/dockerfiles/master/elasticsearch/docker-compose.yml). I need to update the wiki page, but in the mean time you could try launching with:

[code]

[2017-02-04 19:39] itzg commented on #118
For this (and Kibana) I think I'm going to "deprecate" my images in favor of the official images, [logstash ](https://hub.docker.com/_/logstash/) and [kibana](https://hub.docker.com/_/kibana/). They have been working well for me, combined with `itzg/elasticsearch:5` and friends.

@ferronrsmith , can you let me me know if the official image works for you (or perhaps that's what you're already using

[2017-02-04 19:40] itzg commented on #105
Feel free to comment further or re-open if you bump into this.

[2017-02-04 19:40] #105 closed

[2017-02-04 19:41] itzg commented on #111
This plugin no longer seems to be compatible with 5.x and above. I'll re-open this when/if it becomes available.

[2017-02-04 19:41] #111 closed

[2017-02-15 03:16] zaquestion opened #126 "[minecraft] Evaluate JVM G1 Garbage Collector"
Would you mind switching or maintaining a second `dockerfile` using the jdk image on https://hub.docker.com/r/library/openjdk/tags/

Its _only_ 100MB more space, my vote would be to just cut over, but a seperate tag/dockerfile would be excellent

ref on jvm options that require jdk
http://gaming.stackexchange.com/questions/104527/how-can-i-run-a-minecraft-server-on-multiple-cpu-cores

Only require

[2017-02-15 03:38] itzg commented on #126
I agree that's a reasonable increase in size; however, having worked with Java for many years now I am quite certain the JDK doesn't add any JVM options beyond the JRE. The [official faq](https://www.java.com/en/download/faq/techinfo.xml) confirms my understanding that the JDK differs by including development-time tools such as `javac`, `jar`, etc.

I did notice that I haven't enabled the [G1 garb

[2017-02-15 04:23] itzg commented on #126
@zaquestion , can you give the image I just pushed, `50e62877c056`, a try? I'm also going to stress test it tomorrow on my dual CPU, quad core system.

[2017-02-15 04:24] itzg commented on #126
...I also introduced a new `-e MAX_MEMORY=...` option to make it easier to bump up the JVM memory limit.

[2017-02-16 00:07] ferronrsmith opened #127 "Bump Elasticsearch to 5.2.1"

[2017-02-16 01:42] itzg commented on #127
`itzg/elasticsearch:5.2.1` is now available.

[2017-02-16 01:42] #127 closed

[2017-02-17 22:12] zaquestion commented on #126
@itzg I'm trying this out, so far so good, I also used your `MAX_MEMORY` option. I am seeing a lot more JVM memory getting used and a lot less garbage collects which seems nice.

Here is the config
[code]

[2017-02-17 22:15] itzg commented on #126
@zaquestion thanks for trying it out and the progress update. I haven't done my large scale testing yet, so I'm especially glad you are progressing.

[2017-02-18 17:04] itzg commented on #126
@zaquestion with some experimentation (and remembering an issue others brought up a while ago) I found that this worked well with a 32GB server and render distance of 15:

https://github.com/itzg/dockerfiles/blob/master/minecraft-server/docker-compose-big.yml

The `CONSOLE: "false"` [here](https://github.com/itzg/dockerfiles/blob/master/minecraft-server/docker-compose-big.yml#L16) seemed to be the

[2017-02-28 10:47] medvidek opened #128 "Unable to access Forge"
2017-02-28 10:29:14	stdout	Error: Unable to access jarfile forge-1.11.2--universal.jar
2017-02-28 10:29:14	stdout	+ exec java -XX:+UseG1GC -Xms4G -Xmx4G -jar forge-1.11.2--universal.jar
2017-02-28 10:29:14	stdout	+ '[' -f /data/bootstrap.txt ']'
2017-02-28 10:29:14	stdout	+ [[ FORGE == \F\E\E\D\-\T\H\E\-\B\E\A\S\T ]]
2017-02-28 10:29:14	stdout	Setting ops
2017-02-28 10:29:14	stdout	Error: Unable t

[2017-02-28 12:34] itzg commented on #128
This appears to be a side effect of switching to the alpine base image. I'll investigate later today.

[2017-03-01 00:47] itzg commented on #128
Thanks for reporting this. The fix is now pushed to Hub.

[2017-03-01 00:47] #128 closed

[2017-03-01 05:17] zaquestion commented on #126
Following up here. I've been running with these changes for almost a couple weeks. Its hard to quantify even with various charts in grafana. A general look at CPU usage before and after enabling G1 shows a lot CPU usage on avg. I haven't seen any single core maxed out. If I had to **guess** the GC is cleaning up everything so quickly in parallel its not quite getting recognized prometheus/grafana.

[2017-03-02 03:18] ferronrsmith commented on #118
Make sense

[2017-03-02 03:18] ferronrsmith opened #129 "Bump Elasticsearch to 5.2.2"

[2017-03-02 03:21] itzg commented on #129
I beat you to it :)

https://hub.docker.com/r/itzg/elasticsearch/tags/

[2017-03-02 03:21] #129 closed

[2017-03-02 03:22] ferronrsmith commented on #129
nice!

[2017-03-02 03:24] ferronrsmith commented on #129
Can you bump kibana also

[2017-03-02 03:24] itzg opened #130 "Deprecate logstash and kibana images"
The ease of use of the official logstash image has now outweighed the cost of maintaining a separate one. As such, the one here in `dockerfiles` can be deprecated.

[2017-03-02 03:28] itzg commented on #129
@ferronrsmith actually, kibana has become a similar maintenance cost vs benefit scenario as logstash. I have been using the official 5.x image for a little while now and continue to be pleased with it.

I'm going to track the deprecations in #130.

[2017-03-02 03:28] itzg commented on #118
I'm tracking the deprecation in #130

[2017-03-02 03:28] #118 closed

[2017-03-02 03:37] itzg commented on #126
Thanks for the great write-up. I'm glad to hear you're observing the same positive benefits of G1 that I have seen in a similar switch we did at work for our production Cassandra cluster.

As for `MAX_MEMORY`, the startup script does also use that value for `-Xms` [here](https://github.com/itzg/dockerfiles/blob/master/minecraft-server/start-minecraft.sh#L496). The discrepancy seems to be the usual

[2017-03-02 07:33] ferronrsmith commented on #130
ok make sense. Thanks for the heads up!

[2017-03-02 14:23] itzg commented on #130
@ferronrsmith ...however, were/are there features above and beyond the official ones you'd like? It later dawned on me that I could now build an image from theirs. Selfishly, I no longer needed my auto-plugin install feature since the two plugins I used were no longer applicable in 5.x.

[2017-03-02 15:02] ferronrsmith commented on #130
Actually I try to stay away from plugins for kibana, because some clients don't allow installs inside their environment and since we don't always have control of the installs it's best just to worth with the default.

I use the elasticsearch plugin mostly, in my `dev`, 'demo` and `production` environment. The official image doesn't do muli-node configuration with different node-type properly. (At

[2017-03-02 15:05] itzg commented on #130
Cool, multi-node config is the reason I spun off my own elasticsearch image, so I'm glad to hear that's the motivator for you also.

[2017-03-02 15:29] ferronrsmith commented on #130
Seems like we now need to disable `node.ingest` for master nodes https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-node.html#master-node

[2017-03-02 15:30] itzg commented on #130
...and add a new `NODE_TYPE` for ingest. I have to admit that the new beats aspect looks super cool, but I haven't yet used it.

[2017-03-02 15:33] itzg opened #131 "Support ingest nodes"
From #130 reported by @ferronrsmith :

Seems like we now need to disable node.ingest for master nodes https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-node.html#master-node

- [x] Configure `MASTER` nodes to disable `node.ingest`
- [x] Introduce `INGEST` as an option for `NODE_TYPE`

[2017-03-02 15:36] ferronrsmith commented on #130
Yea and I agree

[2017-03-04 05:34] itzg commented on #131
### Notes

Using the updated `docker-compose.yml`, the ingest node shows up with the "i" indicator in the `/_cat/nodes` view:

[code]

[2017-03-04 05:46] itzg commented on #131
Pushed to Hub.

[2017-03-04 05:46] #131 closed

[2017-03-09 20:13] r1cebank opened #132 "Minecraft FTB start issue"
Hi, thanks for this amazing docker image. But i am having some issue to start an ftb server.

Here is the command i used:
docker run -d -v xxxxx/mc:/data -e TYPE=FTB -e FTB_SERVER_MOD=FTBPresentsCrackpackServer_1.1.0.zip -p 25565:25565 -e EULA=TRUE --name mc itzg/minecraft-server

When i checked the logs, i see this:

[code]

Any help will be greatly appreciated. Thanks

[2017-03-09 21:50] itzg commented on #132
Thanks for reporting this. It seems to be due to switching to an Alpine base image, so it should be fairly straightforward to resolve.

[2017-03-10 00:34] itzg commented on #132
@HenryGessau , regarding that question, I double checked that `unzip` without the `-u` will behave as expected in the case when a mod is upgraded from one version to another:

[code]

[2017-03-10 00:38] r1cebank commented on #132
I tried to add unzip to the `apk add` and it appears to be working.

+ unzip \

[2017-03-10 00:40] itzg commented on #132
Apparently one of the other packages was already pulling in `unzip`. I'll have a change to try out shortly -- just wanted to recreate your scenario first.

[2017-03-10 00:48] itzg commented on #132
Oh yeah, I keep forgetting with FTB to download the server flavor of file and not just the modpack :)

[2017-03-10 01:02] itzg commented on #132
@r1cebank can you `docker pull itzg/minecraft-server` to pick up `688de9dbc7f0` and try that out?

[2017-03-10 17:31] r1cebank commented on #132
It worked perfectly, thanks.

[2017-03-10 17:31] #132 closed

[2017-03-15 22:55] sladkoff opened #133 "[Minecraft] Failed to load native library:sqlite-3.15.1"
I have issues with Bukkit + SQLite after upgrading to the Alpine based image.

During startup this happens:
[code]

Due to the above problems, an error similar to the following happens when attempting to load Bukkit plugins that rely on sqlite (plugins aren't loaded, but server starts):
[code]

My stack file looks something like this:
[code]

I've downgraded to the debian image for now.

Here are

[2017-03-15 23:33] itzg commented on #133
Yep, you already touched on what I'm guessing is the root cause, which is the switch to alpine/musl from Debian/libc.

I may need to cross update both branches going forward to offer size vs breadth choice. Thoughts or suggestions?

[2017-03-16 01:49] aamche commented on #126
In simple terms, why would it be good to set Xms to the same as Xmx. I've generally set Xms to half of Xmx, as it allows me to run more instances. Seems we've lost memory control by adding MEMORY into the environment args.

[2017-03-16 18:39] sladkoff commented on #133
No thoughts since I don't have the technical insight on the matter.

Do have an off-topic suggestion though.
Due to the fact that I was running `itzg/minecraft-server:latest` my server broke overnight when I redeployed the container and the *latest* tag was pulled automatically by docker (I wasn't aware of the *debian* tag yet).

It would have been nice to have a *stable* tag to choose from to pre

[2017-03-17 15:30] itzg commented on #133
Thanks, that helps a bunch. I definitely like the idea of better tagging. I have been doing the same on some other images I maintain.

I should be able to get to this tonight and I'll build upon the git tagging I have already started doing, such as

https://github.com/itzg/dockerfiles/releases/tag/mc-2017_2

[2017-03-17 16:32] itzg commented on #126
@aamche excellent point. The motivation was to avoid performance degradation while a server "warmed up"; however, in professional Java career I rarely set Xms since I rarely see heap expansion as a performance issue.

You have inspired me to change `MEMORY` to only affect Xmx and I'll introduce a companion variable to tweak the initial heap size.

[2017-03-17 22:33] aamche commented on #126
Thanks itzg, I know you provide all this for free, so thank you for all your hard work.

Memory is a funny one,  in my setup I have bungeecord linking to various games, so it's often a few of them are empty at any one time.

[2017-03-18 00:41] itzg commented on #133
BTW, the Spigot issue you mentioned was spot-on. [This comment specifically](https://hub.spigotmc.org/jira/browse/SPIGOT-2853?focusedCommentId=22521&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-22521) confirms what I assumed, there's no practical support for sqlite on alpine/musl systems.

[2017-03-18 03:51] itzg commented on #133
@sladkoff can you try out the new tag `debian-latest`. As you can guess that'll be the bleeding edge but based on the debian image. If that works out, I'll snap a fixed tag at that point and with future updates.

[2017-03-18 10:32] sladkoff commented on #133
@itzg Running `debian-latest` and it works fine so far!

[2017-03-18 22:19] Maescool commented on #133
I can confirm this is an SQLite issue and their use of an old glibc library
I did have a workaround for this fix:
https://github.com/xerial/sqlite-jdbc/pull/187

[2017-03-18 22:34] itzg commented on #133
@maescool, feel free to suggest how this could be used here too or submit a PR :)

[2017-03-19 14:55] itzg commented on #126
@zaquestion and @aamche , can you take a look at the [updated README section](https://github.com/itzg/dockerfiles/tree/master/minecraft-server#memory-limit) and see if that makes sense for the various scenarios? I ultimately decided to leave `MEMORY` as the one-stop for setting both initial and max since that approach has the "least surprises". But @aamche for scenarios like you describe, you can

[2017-03-25 09:06] aamche commented on #126
Looks great, thanks itzg. Things are working smoothly and ram is all in good again. The swap was getting hammered for a while. Easy implementation too.

[2017-03-25 15:45] itzg commented on #126
Thanks @aamche

[2017-03-25 15:45] #126 closed

[2017-03-27 18:05] richraid21 opened #134 "Issuing commands via the MC Server console"
Hi,

Is it possible to execute commands via the server console?

I've tried `docker attach <container>` and once in, my command just hangs so I don't think I'm doing it correctly.

Thanks

[2017-03-27 21:17] itzg commented on #134
@richraid21 , double check that you included the `-i` and `-t` arguments when doing the `docker run` since that's the chance to declare TTY and open stdin.

If that still isn't cooperating and you want to use a version of Minecraft that supports RCON, then this awesome web app I found recently might help you too:

https://brainfoolong.github.io/rcon-web-admin/

I wrapped a docker image around that

[2017-04-04 18:09] wiput1999 opened #135 "About minecraft remote issues"
Hi,
   I'm trying to execute command into minecraft container but I can't execute command. Is it possible to run command on it without RCON? Like Minecraft web panel can be execute command directly to minecraft server.

Thanks

[2017-04-04 21:34] cheinig opened #136 "Minecraft-Server - incomplete UID and GID replacement in start script"
Minecraft-Server
The UID / GID replace operation in the start script is working wrong, because it tries to replace the value 1000 with the value provided in UID/GID on every start.

I set my UID and GID environment variables to 10008 and everything works fine on first startup.
If i stop the container and start it again, the script will try to replace the string 1000 again. Although it was already

[2017-04-05 03:03] itzg commented on #136
Thanks @cheinig for reporting this and providing an elegant solution -- I am going to apply that as the fix for this.

[2017-04-05 03:29] itzg commented on #136
The fix has now been pushed to Hub with image ID `3bd80685ad0b`

[2017-04-05 03:29] #136 closed

[2017-04-05 04:39] wiput1999 commented on #135
No I want to run it daemon and make it able to use like docker exec <container> <command> like this with out RCON. Is it possible?

[2017-04-05 04:40] wiput1999 commented on #135
I'm talking about using Docker API to control it

[2017-04-05 14:08] itzg commented on #135
I'm sorry, I misunderstood the original question. Yes, `docker exec` is the way to run a new process/command inside of the container's control space.

If you mean the low level Docker API, then yes, that can be done via this REST endpoint:
https://docs.docker.com/engine/api/v1.27/#tag/Exec

[2017-04-05 14:23] wiput1999 commented on #135
But why I can't run command into process?

[2017-04-05 14:25] wiput1999 commented on #135
I'm trying to use
`docker exec 88a034eebfe5 stop`
to run like stop minecraft server but it returns
`rpc error: code = 2 desc = oci runtime error: exec failed: container_linux.go:247: starting container process caused "exec: \"stop\": executable file not found in $PATH"`

[2017-04-05 14:32] itzg commented on #135
Thanks @wiput1999 , I was just about to ask what your actual goal was. OK, you definitely will need to be using `docker attach` since what you're needing to do is "send a command" to the minecraft-server process itself via its standard input.

The challenge is that the minecraft console expects a terminal (TTY), but when trying to programmatically stop the service it isn't working for me:
[code]

[2017-04-05 14:39] wiput1999 commented on #135
[code]
On my code I think it has been enabled tty but they not work and I don't know why Minecraft console is not on top when I execute command into container

[2017-04-05 14:43] wiput1999 commented on #135
Wow I think I have found the way to execute command directly in to minecraft process by adding it into environment :D I see this man do it
https://github.com/dlord/minecraft-docker/blob/master/minecraft

[2017-04-05 14:47] itzg commented on #135
Ah, so wrapping it in a `tmux` session does actually make sense. I'm very new to `tmux`, but I think I follow the technique there. Feel free to take a stab at this approach and submit a PR. The main spot to adjust is here https://github.com/itzg/dockerfiles/blob/master/minecraft-server/start-minecraft.sh#L504-L509

[2017-04-05 14:53] itzg commented on #135
@wiput1999 since you're using python and already enabling rcon, perhaps this would work:

http://python-valve.readthedocs.io/en/latest/rcon.html

[2017-04-05 20:31] itzg commented on #135
@wiput1999 as an alternative idea, I wrote a little rcon-cli application, where you can download a built binary from

https://github.com/itzg/rcon-cli/releases/tag/1.0

For example, on Mac OS I can do this to programmatically stop a minecraft server:

[code]

Later tonight I'll work this into the `itzg/minecraft-server` image as an alternate entrypoint command.

[2017-04-06 17:34] itzg opened #137 "Add a link to saranicole's stem-minecraft ansible playbook"
Comment from: saranicole

I need to add a link within the getting started section.

[2017-04-06 17:47] itzg opened #138 "Document example backup strategies"
Since it is quite common to have long running Minecraft servers and those servers have inherently irreplaceable data the README should include at least one recommendation for backup strategy.

Part of the solution could be extract all of the host directory paths from the mounts section of the container such as with:

[code]

which gives something like

[code]

[2017-04-06 18:33] itzg opened #139 "Biome value validation needs to be relaxed for modded biome"
From Hub comments:

13 days ago
I am playing a FTB modpack and want to enable BIOMES O PLENTY. Normally I would update the LEVEL_TYPE to BIOMESOP. However, this does not pass your validation code and throws an error. Is there a way to enable this mod using your docker script?

[2017-04-08 14:59] itzg commented on #135
@wiput1999 I have now pushed an update that integrates the rcon-cli into the image:

https://github.com/itzg/dockerfiles/tree/master/minecraft-server#interacting-with-the-server

Can you try that out to see if it takes care of your scenario?

[2017-04-08 15:11] wiput1999 commented on #135
Oh! Thank you but I have build my own one now with tmux.

[2017-04-18 16:56] gkawamoto opened #140 "Cattle IP Setup"
I am using Rancher + Cattle in our cluster (http://rancher.com/) and we've found an issue regarding the way Cattle register the container at the network.
It seems that the container only joins the network after he's up and, consequently, after the container has run the `discoverAllGlobalIps` function in the start sequence.

To fix it in our setup I've changed the implementation to ignore certain s

[2017-04-19 04:28] itzg commented on #140
Thanks for investigating this and cross verifying in Swarm. Yes, a PR would be fantastic.

[2017-04-20 03:10] itzg commented on #140
Fixed by #141

[2017-04-20 03:10] #140 closed

[2017-04-21 21:26] itzg opened #142 "Upgrade to ES 5.3.1"

[2017-04-22 01:11] itzg commented on #142
Pushed to Hub

[2017-04-22 01:11] #142 closed

[2017-05-05 15:54] RisenZhang opened #144 "Error: Unable to access jarfile FTBServer-1.7.10-1231.jar"
I run docker image on my Synology. Using normal setting is fine. But when I try to use FTB and run BlastOff modpack. The server always shwo those messages.

I have been add those setting 「Type = FTB 、 VERSION = 1.7.10、FTB_SERVER_MOD = BlastOffServer.zip、EULA = TRUE」

The modpack have been put on /data. Please help solve the problem..

2017-05-05 15:23:13	stdout	make sure to read eula.txt before pl

[2017-05-06 01:25] itzg commented on #144
@RisenZhang I discovered this particular modpack expected the server to be started in the FTB sub-directory. Please give the [latest build](https://hub.docker.com/r/itzg/minecraft-server/builds/byxjuksbjqkaey2o2y5zala/) a try and see if that also fixes the issue for you.

[2017-05-06 01:33] itzg opened #145 "Add mysql client support"
Suggested by `reviville`

[2017-05-06 01:34] itzg opened #146 "Add support for Spigot BungeeCord type"
https://www.spigotmc.org/wiki/bungeecord/

Reported by `Reviville`

[2017-05-06 02:18] RisenZhang commented on #144
Problem Fix !! I appreciate your help. 👍
Could you tell me what different about debian-latest and latest ?
At first I downloaded  debian-latest image to build server. Now I use latest one. It seem like the same, only the size is different?

[2017-05-06 16:54] itzg commented on #144
@RisenZhang , awesome.

Yes, the size difference actually was the ultimate goal of the two image choices, but the reason the `latest` one is smaller is because it is based on [Alpine linux](https://alpinelinux.org/about/). Alpine turns out to be a good base image since it's lack of bells and whistles and lack of extensive package support is not a big deal for creating small, single-purpose Docker

[2017-05-06 16:54] #144 closed

[2017-05-06 19:00] HDPete opened #147 "EULA on startup"
I have installed the Docker ITZG Minecraft Server package on my QNAP NAS as a Container, with the following parameters, but the container will not start as it keeps reporting that I need to add -e EULA=TRUE

**docker run -d -it -e EULA=TRUE -p 25565:25565 --name mc itzg/minecraft-server /start**

Error received:

Please accept the Minecraft EULA at
  https://account.mojang.com/documents/minecraft_

[2017-05-06 21:35] itzg commented on #147
@HDPete since I have not used that HW/SW I found some clues [here](https://www.blisshq.com/music-library-management-blog/2015/12/01/installing-bliss-qnap-docker-container-station/) where it sounds like you'll need to set the `EULA` environment variable over in the "Advanced settings >>" area, such as here:

![image](https://cloud.githubusercontent.com/assets/988985/25776082/0300e2ac-327a-11e7-9301

[2017-05-06 21:40] #133 closed

[2017-05-06 21:43] #145 closed

[2017-05-07 21:15] smxsm opened #148 "Add Python for RaspberryJamMod and others?"
Hi, I really love your minecraft-server docker image! One suggestion: how about adding python packages, so that you can use e.g. a FORGE type server with e.g. the RaspberryJamMod (https://github.com/arpruss/raspberryjammod) to run python scripts in Minecraft?
I've tried it in my own image based on yours and it worked like a charm. All I've added was

`RUN apk --update add python2 python2-dev py-se

[2017-05-08 01:17] itzg commented on #148
That's like a good feature. I'll just double check that it doesn't grow the image size too much.

[2017-05-08 04:46] smxsm commented on #148
Cool :) Here are the image sizes I got when adding python in my derived image after adding the three packages:
![image](https://cloud.githubusercontent.com/assets/1737182/25790548/d9813d3c-33b9-11e7-9cf8-dda96b15fc47.png)

[2017-05-09 03:59] itzg commented on #148
@smxsm can you try out the latest image I pushed? apk was acting a little odd for me, so I ended up adding `python` and `python-dev`; however, I was able to run some of the RaspberryJamMod sample scripts.

[2017-05-09 09:29] smxsm commented on #148
Works perfectly, thank you very much for adding! 👍

[2017-05-09 18:22] itzg commented on #148
Awesome, thanks.

I'll leave this issue open to track merging the same to the Debian branch.

[2017-05-10 21:28] itzg commented on #148
...and added for debian tag: https://hub.docker.com/r/itzg/minecraft-server/builds/bkpt8b6rkkvumvuacnrdpyi/

[2017-05-10 21:28] #148 closed

[2017-05-14 13:04] peterrus commented on #147
I am having trouble setting EULA to TRUE at all, so maybe this functionality is broken currently, but hasn't been noted because you only set it once.

I am using the following docker-compose file, maybe it helps:

[code]

[2017-05-14 15:01] itzg commented on #147
@peterrus , weird, I saved your compose above to a file and it started up fine for me:

[code]

[2017-05-14 15:13] itzg commented on #147
Can you try changing your compose file to add "env" as the `entrypoint`:

[code]

and confirm you see the `EULA` value as shown:

[code]

[2017-05-14 16:25] peterrus commented on #147
via above debugging method I found out that my env var was filled with "TRUE" instead of TRUE (without the "). I missed that for some reason. Thanks for helping me out so quickly! Also sorry for hijacking the thread, seems to be a different issue than mine then.

[2017-05-14 20:58] itzg commented on #147
You're very welcome. Glad you figured it out.

[2017-05-19 00:52] c650 commented on #91
I can confirm this is still an issue.

[2017-05-19 07:53] dblM90 opened #151 "Server doen't init with some environment variable settings"
Hi there,

im trying to run a Feed-The-Beast Server, but it seems, that some environments variables are not loaded on init, such as MAX_PLAYERS, WHITELIST, OPS, MOTD,...

Maybe we could investigate this issue.

Best regards

[2017-05-19 15:12] itzg commented on #151
The FTB support is a newer contribution, so I have to admit I'm not as familiar with it. My suspicion, without looking, is that the docker entry script is designed for tweaking the "normal" server config properties. Those tweaks might go to waste since FTB has its additional entry script.

[2017-05-20 14:25] dblM90 commented on #151
It might be that FTB overrides the settings while installation process. I don't know how to fix it. For now, i edited the settings manually to get the configuration that i want to have.

[2017-05-20 16:12] itzg commented on #151
@dblM90 I'm testing out some changes in a branch that seem to fix it. Can you also help test it out by pulling the image tag `ftb`, such as

[code]

I have also included an enhancement where you can have it download the server pack by passing a URL such as https://www.feed-the-beast.com/projects/ftb-infinity-lite-1-10/files/2402889 into `FTB_SERVER_MOD`.

[2017-05-20 18:23] dblM90 commented on #151
@itzg i will test it as soon as possible

[2017-05-23 12:57] dblM90 commented on #151
I've tried to run a Minecraft FTB Server (Beyond mod pack). It seems to do the right configuration except of setting whitelist and ops. The whitelist option is set to true, and a file with my username named whitelist.txt is generated. But there is another whitelist and a ops file in the feedthebeast folder, where it is not set.

[2017-05-23 16:31] itzg commented on #151
I'm so glad you tested this out. Yep, you've discovered a couple more files I need to copy from the outer server directory to FTB.

[2017-05-23 18:32] Reviville commented on #146
Hey Geoff, could you have another look at that? :3

[2017-05-25 15:14] dblM90 commented on #151
Could you please write me, if you have fixed it? I will test it on my server...

[2017-05-26 12:04] itzg commented on #151
@dblM90, sorry for the delay. I should be able to wrap this up later today and get it pushed out.

[2017-05-27 00:56] itzg commented on #147
@HDPete have you been able to resolve the setting of environment variables in QNAP?

[2017-05-27 01:09] #151 closed

[2017-05-27 01:10] itzg commented on #151
The fix is being built/pushed via https://hub.docker.com/r/itzg/minecraft-server/builds/bbaregrhqpgeku3vykw8kki/

[2017-05-27 03:25] itzg commented on #146
I'm sorry for the delay on this one. I created the issue and then got distracted elsewhere. I should be able to start looking into this.

[2017-05-27 07:19] Reviville commented on #146
No hurries. You are doing this in your freetime, i understand that :)
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit WEB.DE Mail gesendet.Am 27.05.2017, 05:25, Geoff Bourne <notifications@github.com> schrieb:
I'm sorry for the delay on this one. I created the issue and then got distracted elsewhere. I should be able to start looking into this.

—You are receiving this because you com

[2017-05-27 08:48] HDPete commented on #147
Will have a play this weekend

Peter

On 27 May 2017, at 01:56, Geoff Bourne <notifications@github.com<mailto:notifications@github.com>> wrote:

@HDPete<https://github.com/hdpete> have you been able to resolve the setting of environment variables in QNAP?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/itzg/dockerfiles/issues

[2017-05-28 14:58] dblM90 opened #153 "Life in the Woods Support"
Just a short question, is it possible to integrate "Life in the woods" modpack?

Best regards,

Merlin

[2017-05-28 15:30] itzg commented on #153
It should be possible, but there does seem to be a bug in the forge downloading/installing part. I'm working on fixing that now.

[2017-05-28 16:43] itzg commented on #153
@dblM90 there were a few bugs lurking in there. Can you help test a tagged instance of the image?

To test and what I did was unzip the contents of the downloaded zip modpack into "LifeInTheWoods". Then I started a container using:

[code]

[2017-05-29 02:02] itzg commented on #91
@c650 , @Snorremd , @Alacard  it has taken me forever, but I finally have conquered the different URL and launcher variants especially to fix the download of 1.10. Please pull the latest `itzg/minecraft-server` and this should now work properly.

[2017-05-29 02:05] itzg commented on #134
@richraid21 ...there is also now the ability to use an RCON CLI integrated with the image, such as:

[code]

Is this still an issue for you?

[2017-05-29 06:06] dblM90 commented on #153
@itzg I will test it this evening

[2017-05-29 20:49] itzg commented on #146
@Reviville I finally have something for you to try out. For the moment the changes are on a branch and tagged, so please try out the image tag `itzg/minecraft-server:bungee`. [Here is the new docs section](https://github.com/itzg/dockerfiles/blob/mc/bungeecord/minecraft-server/README.md#running-bungeecord).

Let me know if there's anything that doesn't work or could be a little bit easier to confi

[2017-05-29 21:08] Reviville commented on #146
Well it works but there are some errors left, or in other words optimizations possible.
Tou can find the error in the screenshot at the end.
Apart from that, the image creates a lot of unneccessary data, e.g. banned-ips.json, banned-players.json, 2 server.properties (both not needed, as bungee creates its config.yml), an empty config and mods directory (i know these always exist, so probably not t

[2017-05-29 22:16] itzg commented on #146
Thanks! That's exactly the feedback I needed. Yeah, I later realized that BungeeCord is basically a proxy and not a typical minecraft server. Perhaps a separate image is better...the openssl error will most likely go away when using the debian branch of the image, but still is more bulky than all BungeeCord really needs.

[2017-05-29 22:42] itzg commented on #146
...yeah, I think I'm going to create a separate image for it, but looks like a `-e` option for offline mode on the minecraft servers would be handy according to

 -https://diigo.com/09r4wm

[2017-05-29 22:53] itzg commented on #146
...and forgot `-e ONLINE_MODE=false` is already supported by the image :)

[2017-05-29 23:44] itzg commented on #146
@Reviville now, give this one a try:

https://hub.docker.com/r/itzg/bungeecord/

[2017-05-30 15:19] Reviville commented on #146
It works as expected, good work! I tested everything and adjusted the config.yml as needed.
But 1 more thing and it would for now be perfect... :)
Could you also add uid and gid, so you can execute this as anotheruser, or at least adjust the permission to do so? <3

[2017-05-30 15:39] itzg commented on #146
Very good. Yeah, it looks like if I change the internal download location to `/tmp/BungeeCord.jar` (or maybe just `/server`) then the uid/gid form of `docker run ... --user <name|uid>[:<group|gid>]` will probably work.

[2017-05-30 15:41] Reviville commented on #146
Would be awesome :)

[2017-05-30 15:55] itzg commented on #146
`docker pull` the latest and it should now handle non-root for you. I added a snippet of how I tested at the end of the [repo info](https://hub.docker.com/r/itzg/bungeecord/).

[2017-05-30 15:59] Reviville commented on #146
i just meant the old options with "-e" like in the minecraft-image, where you can define -e UID=$uid and -e GID=$gid
that makes it a bit more complecated to be honest o.o

[2017-05-30 16:02] itzg commented on #146
It was a little hacky how I did that in the minecraft image, but in the spirit of consistency I'll fix that up to use the -e's.

[2017-05-30 16:02] Reviville commented on #146
Appreciate that :)

[2017-05-30 19:57] itzg commented on #146
Pushed an image update with `-e UID=$uid -e GID=$gid` usage. Can you double check that for me?

[2017-05-31 16:00] Reviville commented on #146
does not seem to work that well :3
![image](https://cloud.githubusercontent.com/assets/26972387/26641473/040897d4-462b-11e7-94a4-b5c06c3673f9.png)

[2017-05-31 22:00] itzg commented on #146
I think I was naughty and didn't test with a `GID` set. I can fix this :)

[2017-06-01 03:12] itzg commented on #146
OK, now I fixed it **and** tested it ;)

[code]

[2017-06-01 12:11] Reviville commented on #146
Yo, works for me too :)

[2017-06-01 12:12] Reviville commented on #146
I will get back to you when i tested it with every detail possible... i guess im gonna donate again :p

[2017-06-01 16:46] itzg commented on #146
Awesome

[2017-06-03 18:04] Reviville opened #154 "General Download URL for every Version/Type"
Hey ho,

just a question and probably a new feature.

I was wondering if you could, instead of deviding the Download variables (SPIGOT_DOWNLOAD_URL, BUKKIT_DOWNLOAD_URL etc.), just implement one general DOWNLOAD_URL=...

If not, i would like to request a new download url for Forge... :p

Thank you :)

[2017-06-03 18:21] Reviville opened #155 "Feed The Beast Support"
Hey ho :)

I would like to ask you if you could try to implement support for "Feed The Beast", or in other words all the modpacks that come with it (https://www.feed-the-beast.com/modpacks)

Basically there is nothing different compared to Spigot/Bukkit to be honest.
An how to can be found here: https://www.feed-the-beast.com/hosting

The modpack would be easy to choose via FTB_DOWNLOAD_URL, so a

[2017-06-03 20:22] itzg commented on #155
You're in luck, it's already supported ;)

https://github.com/itzg/dockerfiles/tree/master/minecraft-server#running-a-server-with-a-feed-the-beast-ftb-modpack

I very recently added the support for `FTB_SERVER_MOD` to be a URL...however, it'll currently auto-append "/download" since I assume it's located in https://www.feed-the-beast.com/ . I can enhance that if you're wanting to host modpacks in

[2017-06-03 20:26] itzg commented on #154
Since Forge requires an extra step to run its installer, it has to act a little different. As such, I can certainly add a `FORGE_INSTALLER_URL`.

[2017-06-03 20:26] Reviville commented on #154
Would be awesome :)

[2017-06-03 20:29] Reviville commented on #155
Oh wow sorry for that then... im blind

if i have to download the mod myself, everything is clear and no download_url is needed for me.
But thanks :)
You can close it if you want, you can obviously aso add a download_url option, as you wish :)

[2017-06-03 20:33] itzg commented on #155
It's pretty easy to enhance that URL logic, so not assume it's "one of theirs" like https://www.feed-the-beast.com/projects/ftb-infinity-lite-1-10/files/2402889.

[2017-06-03 20:35] Reviville commented on #155
Well, i will just download all modpacks i need and put them on my storage... from there i would download them and then move them to the data directory... thats fine for me :D

[2017-06-03 20:36] itzg commented on #155
Cool. I think I'll enhance it anyway...that gap was bugging me before :)

[2017-06-03 20:36] Reviville commented on #155
alright, ahve fun doing so :)
Thank you!

[2017-06-03 20:42] itzg commented on #154
@Reviville since you'd be providing the specific URL, I assume you don't care/need to specify the version particulars? Right now I have to do this dance to lookup the corresponding Forge version for a given Minecraft version.

[2017-06-03 20:45] Reviville commented on #154
yeah ofc, i dont need that :p

[2017-06-03 20:45] itzg commented on #154
Excellent.

Also, how about an option for telling it to use a pre-downloaded installer jar by giving a path into `/data`?

[2017-06-03 20:47] Reviville commented on #154
you could implement that if you want, but tbh i don't think i would use that, as i like the fact that the image does take over that for me :D

[2017-06-04 01:55] itzg commented on #154
In both cases (filename or URL) the Forge installer needs to be referenced since they populate the `libraries` directory during installation.

I have pushed this change, so it's ready for you to try out with [update docs here](https://github.com/itzg/dockerfiles/blob/master/minecraft-server/README.md#running-a-forge-server).

[2017-06-05 10:02] Reviville commented on #154
Sorry for the delay, had a lot to do this weekend.
The FORGE_INSTALLER_URL works just fine and everything starts running.
But when i want to declare the FORGE_INSTALLER i get the following error:
![image](https://cloud.githubusercontent.com/assets/26972387/26779737/e339f4ca-49e6-11e7-91bc-9cae7b4cedbe.png)

[2017-06-05 16:05] itzg commented on #154
@Reviville what's the `docker run` you're using when you get the error with `FORGE_INSTALLER`?

[2017-06-05 17:44] Reviville commented on #154
The same im using when running the FORGE_INSTALLER_URL:

docker run -d -v /path/to/data:/data -e UID=1001 -e GID=1001 \
-e EULA=TRUE -e TYPE=FORGE -e FORGE_INSTALLER=/path/to/data/forge-1.8.8-11.15.0.1655-installer.jar \
-e INIT_MEMORY=1024M -e MAX_MEMORY=2048M -p 25565:25565 \
--name testuser-docker itzg/minecraft-server --noconsole

[2017-06-05 21:13] itzg commented on #154
The path needs to be in the container's scope or more simply can be relative to `/data`, so this should work:

    -e FORGE_INSTALLER=forge-1.8.8-11.15.0.1655-installer.jar

**however** I need to investigate why it failed weirdly with an incorrect path :)

[2017-06-06 02:39] itzg commented on #154
I pushed an update that'll now validate the given `FORGE_INSTALLER` file exists within the container.

[2017-06-06 09:47] Reviville commented on #154
2 issues with this one:

before upgrading i saw that --noconsole is not supported. Even though it might not peg the CPU as much as Spigot/Bukkit it still feels better to implement it, as i do not need the console either for vanilla, nor for Forge (going with RCON)
![image](https://cloud.githubusercontent.com/assets/26972387/26823374/b29ddde6-4aad-11e7-9b53-085daf8e1323.png)

after upgrading i trie

[2017-06-06 12:42] itzg commented on #154
Thank you as always for the thorough feedback.

I'm afraid the first one is beyond my control since it is the application jar itself processing the arguments there. It does seem very annoying to not be able to use a consistent command line, so I'm open to any ideas like simple version/type filtering away of that argument.

I think I know what's going on with the second issue, so I'll be able to fi

[2017-06-06 13:06] Reviville commented on #154
According to https://github.com/itzg/dockerfiles/issues/80 you implemented this OPTION, right? Probably you could rename or remove the '--' at least for forge, as forge expectes his '--installServer' right away.

[2017-06-06 13:46] itzg commented on #154
Oh, I bet it's one in the same bug causing both issues. When using `FORGE_INSTALLER` the script uses a wildcard to try to find the server jar created by the forge installer. I'm pretty sure it's accidentally picking up the installer jar itself and trying to run it like a server. Maybe I should have it rename the installer jar after it's used then the "*.jar" type wildcard wouldn't pick it up.

[2017-06-06 13:48] Reviville commented on #154
Most likely :p

[2017-06-07 04:14] itzg commented on #154
OK, give the latest image a try. It now excludes a forge jar with "installer" in the name from the final server jar to run.

[2017-06-07 06:20] Reviville commented on #154
I pulled the latest build, but nothing changed to be honest o.o

[2017-06-07 13:03] itzg commented on #154
Weird. I'll push some "debug" output in there and have you check with that.

[2017-06-07 13:26] itzg commented on #154
...pushed. First be sure to do a `docker pull itzg/minecraft-server`.

I'm testing using:

[code]

An expanded message is output before the forge installer runs:

[code]

and after installation there is a new "finding" message:

[code]

Try that on your system and let's compare notes.

[2017-06-07 17:24] Reviville commented on #154
I still had hidden files left, so it cached some shit....
Now everything works as expected <3

[2017-06-07 17:35] Reviville opened #157 "Output whats happening on the server to a console"
Hey ho it's me again,

let me explain what i thought about this time.

Theres 3 ways to look onto the server and see whats going on:
1. way is to attach to it
2. way is to execute docker logs...
3. way is to "less logs/latest.log"

now i want to display whats happening on the server directly to a webinterface console... but i cant use the docker attach function, as i put in the option "--noconsole

[2017-06-07 23:29] mamoit opened #158 "[minecraft-server] java.io.EOFException on simple run"
The simplest `docker run` that is referenced in the README doesn't actually work.
What am I missing here?
[code]

[2017-06-07 23:40] mamoit commented on #158
It works if I run with `-e VERSION=1.11`, is 1.12 supported?

[2017-06-07 23:45] mamoit commented on #158
Ok... I just went to the release log and figured that it was released on June 7th...
I jumped the gun :smile:

[2017-06-08 01:22] itzg commented on #154
Excellent. Thanks.

[2017-06-08 01:22] #154 closed

[2017-06-08 01:26] itzg commented on #157
I could create and include a helper tool that interprets the log and emits a summary of it. That would get the best of approach three but minimize the volume of network output.

Otherwise the rcon-cli might be helpful.

What kinds of info do you want to extract from the logs/system?

[2017-06-08 01:31] itzg commented on #158
Hmm, apparently something did break with 1.12. Looking now...

[2017-06-08 01:48] itzg commented on #158
[This pushed build](https://hub.docker.com/r/itzg/minecraft-server/builds/bq4idfdnahrgxxtlnytty6g/) includes the fix. There were some malformed, but empty, json files that 1.12 no longer liked.

[2017-06-08 01:50] #91 closed

[2017-06-08 01:52] itzg commented on #134
Please re-open if this is still an issue for you.

[2017-06-08 01:52] #134 closed

[2017-06-08 01:53] #135 closed

[2017-06-08 02:00] #139 closed

[2017-06-08 09:39] mamoit commented on #158
Seems to be running just fine :+1:
Thanks for the swiftness!

[2017-06-08 12:05] itzg commented on #158
Awesome. Thanks for following.

[2017-06-08 12:05] #158 closed

[2017-06-08 12:49] Reviville commented on #157
i would like to have everything that is displayed in the minecraft logs under logs/latest.log basically

so everything the minecraft server echoes when running in a screen for example.
i dont want to see the echoes from the docker (switching to user minecraft, downloading.. etc.)

for example:
![image](https://user-images.githubusercontent.com/26972387/26929351-988f720e-4c59-11e7-8ddd-43be2a597b42

[2017-06-08 19:31] dschaper commented on #157
This might be worth a look at tmux or screen inside the container. Having that would allow you to attach the container and see the terminal scroll. (Not sure if that would also help with the situations where CPU pegs?) Or is this more about an aggregate copy of the logs for other processing offline?

[2017-06-09 14:18] Reviville commented on #157
its more like displaying live ( in real time) what is happening on the server on a webserver.
basically i want a console on the web and then send commands to the server and directly get the result back - same as sitting there and watching the console without docker.

[2017-06-09 17:04] itzg commented on #157
Thinking outside the box (or container :) ), perhaps a more direct/efficient solution is to leave the minecraft server logging to console **but** start your container with the gelf-log-driver to send the minecraft server output to a central location of your choosing:

https://docs.docker.com/engine/admin/logging/gelf/

Otherwise, docker exec'ing into the container and using rcon-cli might address

[2017-06-09 19:30] dschaper commented on #157
https://hub.docker.com/r/gliderlabs/logspout/ May be an easier to implement solution. I use it quite extensively to route logs to ELK stacks and it's really solid. I do have a couple of other points, but I'll raise those as other Feature Request issues as to not clutter here.

[2017-06-09 19:34] dschaper opened #159 "[Minecraft] Feature Requests: Graceful shutdown and Healthchecks"
Based on some comments from another issue, there was a mention of a Java implementation to access the internal server running in container. This may be a good approach to implementing healthchecks on the running container, as I'm seeing the server go silent after some time running.

This leads to the more pressing issue of needing some graceful shutdown in the entrypoint script. If there is a need

[2017-06-09 20:10] itzg commented on #159
Good points. A companion tool inside the container could be used to performed [first class HEALTHCHECK](https://docs.docker.com/engine/reference/builder/#healthcheck) operations. And yes, instead of propagating the SIGTERM, which ungracefully stops the minecraft server, that signal could be intercepted and invoke `rcon-cli stop`.

PRs, even partial, would be great. I can fill in remaining bits, et

[2017-06-09 22:51] itzg commented on #157
Yes, I forgot about logspout. That one is interesting since I believe you can still `docker log` concurrently into each container.

[2017-06-09 23:58] itzg commented on #159
Since it was fresh on my mind, I developed this little REST server:

https://github.com/itzg/mc-status

[2017-06-10 00:19] dschaper commented on #157
Yeah, it basically takes whatever is on stdour/stderr and outputs that to your end target. The `docker log` `docker-compose logs` still show as does anything that you would see on an attach to the container.

[2017-06-10 19:49] itzg commented on #159
And now a one-shot, HEALTHCHECK friendly mode

https://github.com/itzg/mc-status#usage-as-a-one-shot-status-checker

[2017-06-10 20:00] itzg commented on #157
The logspout approach got me curious about something and by running

    ls -l /var/lib/docker/containers/*/*-json.log

I confirmed that the [default json file logger](https://docs.docker.com/engine/admin/logging/json-file/#options) does not use a `max-size` by default and I have some logs that are several hundred MB now.

So I advise anyone that uses logspout to also tune their `log-opt`s

[2017-06-10 20:36] dschaper commented on #159
PayPal link? ;)

[2017-06-10 20:46] itzg commented on #159
I do this all for fun, so I haven't yet posted this to the README :)

paypal.me/itzg

[2017-06-10 20:50] itzg commented on #157
I finally got around to using the gelf driver on my home system and I am quite impressed with the details that come along with each log document:

[code]

I thought I'd try the new official logstash image from Elastic, so a heads up that not disabling `XPACK_MONITORING_ENABLED` bit me at first. Here's my compose snippet:

[code]

[2017-06-10 20:51] itzg commented on #157
...looks like I should play with logstash further decoding the "message" as the JSON payload it seems to be (in the case of kibana's output).

[2017-06-10 21:04] itzg commented on #157
FYI here's what I have deployed at home for my "ELK" composition:

https://github.com/itzg/nuc-es/blob/master/docker-compose.yml

[2017-06-10 21:37] dschaper commented on #157
5.4.0 comes with X-pack now doesn't it?

[2017-06-10 21:40] dschaper commented on #159
Grab a beverage of your choice on me, thanks for everything!

[2017-06-10 22:48] itzg commented on #159
Awesome, thanks, and you're very welcome

[2017-06-10 22:57] itzg commented on #157
Ah, they pre-bundle x-pack in their images, but with a 30 day trial.

[2017-06-11 00:27] dschaper commented on #157
Good, we've licensed, but thanks for the confirmation...

[2017-06-11 01:40] aamche opened #160 "Spigot Minecraft 1.12 Support"
Not sure if just me or waiting on a container update for 1.12 Spigot (appreciated the fact you maybe be busy).

Can't start a Spigot 1.12 instance. Build have been released on spigotmc.org. I'll pulled the latest version, help much appreciated.

Docker console logs  show,

`Switching to user 'minecraft'`
`Checking version information.`
`Checking type information.`
`2017/06/11 01:32:56 Unable to fi

[2017-06-11 15:25] itzg commented on #160
Hmm, I'll take a look..

[2017-06-11 15:26] itzg commented on #160
Well, I'll have to check later since their site is overloaded right now

![image](https://user-images.githubusercontent.com/988985/27012165-73249d58-4e90-11e7-99bb-203b8f8b6198.png)

[2017-06-11 16:07] itzg commented on #159
Thanks to @Reviville I was nudged into the direction of dinnerbone's mcstatus. The latest push now integrates that script and uses it for healthchecks.

Here's the new docs:
https://github.com/itzg/dockerfiles/tree/master/minecraft-server#healthcheck

[2017-06-11 16:10] itzg commented on #159
### TODO

- [ ] Intercept ctrl-c/SIGTERM and invoke `rcon-cli stop`

[2017-06-14 08:06] aamche commented on #160
Hmm, still borken. I've taken a guess at the admin email and emailed them. Could be broken for a while. What does mcadmin do?

[2017-06-14 10:37] aamche commented on #160
Hmm, digging further using wayback machine I'm guessing that mcadmin is a repo for downloading compiled jars of spigot and craftbukkit.

Would it be possible to replace that with a spigot build process. I had a look around and there's a bit of code out there. This repo has a build process for spigot, that maybe a better fit
https://github.com/dlord/spigot-docker/blob/master/spigot

I'm getting to

[2017-06-14 13:05] itzg commented on #160
You're in luck. Buried [way down in the README](https://github.com/itzg/dockerfiles/tree/master/minecraft-server#running-a-bukkitspigot-server) is an option to build from source within the container: `-e BUILD_FROM_SOURCE=true`

[2017-06-14 19:29] kitzu opened #162 "Minecraft 1.12 Support"
1.12 (also Spigot 1.12 with BUILD_FROM_SOURCE=true) will always end with a JsonParseException:
`[19:21:05 ERROR]: Encountered an unexpected exception
com.google.gson.JsonParseException: java.io.EOFException: End of input at line 2 column 1 path $
	at net.minecraft.server.v1_12_R1.ChatDeserializer.a(SourceFile:506) ~[spigot_server.jar:git-Spigot-cd6ba67-f7d14f1]
	at net.minecraft.server.v1_12_R1.Ch

[2017-06-15 18:21] itzg commented on #162
I had to make this fix for vanilla 1.12

https://github.com/itzg/dockerfiles/commit/e509563b109695a61d1bf43b6a5fa0c9440e37f6#diff-1b75c648f95c688de936b9c07a9b0008

I'll look if something additional is needed down the Spigot path.

[2017-06-16 04:20] aamche commented on #160
Ran into a git problem with that, possibly git missing from the container image.

I've move to specify my own url version to download and that seems to work
`SPIGOT_DOWNLOAD_URL`

Thanks for the help, and it's great you have all these different ways of getting it to work, great thinking.

[2017-06-16 04:20] #160 closed

[2017-06-16 14:09] kitzu opened #163 "New minecraft spigot container with 1.11.2 data will start as a 1.11.2 container, even with new version specified"
When I set up a new container with an empty data directory with `-e TYPE=SPIGOT -e VERSION=1.12 -e BUILD_FROM_SOURCE=true`, it correctly builds a 1.12 spigot server and generates a new map. When I set up a new container and use my old data directory used with spigot 1.11.2 with the same parameters set, it will always start as a spigot 1.11.2 server. Is that intended behavior? If so, how can I upda

[2017-06-17 21:04] matthewguenther commented on #162
I am having a similar issue using a QNAP NAS with a docker compatible container station. Upon first launch of a new container I see this in console. 1.11.2 worked perfectly.

`[20:47:19] [Server thread/INFO]: Stopping server   `
`Switching to user 'minecraft' `
`Checking version information.          `
`Checking type information.  `
`Setting initial memory to 1G and max to 1G   `
`+ [[ VANILLA ==

[2017-06-17 22:13] itzg commented on #163
I double checked the script and it seems to be acting as designed, which is that it'll look for

/data/craftbukkit_server.jar

or

/data/spigot_server.jar

and skip the download/build if that's already there. If you're wanting to "upgrade" or "recycle" a data directory from a prior version, move the existing jar out of the way or remove it. With that, it should either build/download the new versio

[2017-06-17 22:23] itzg commented on #162
@matthewguenther at least in your case it appears to be retaining the prior `/data` content, specifically the "malformed" JSON files. Starting a new container purposely with no attached volume, I can see the additional startup messages I would expect, such as "Creating server.properties" (below). One way to solve this is to `docker exec mc rm banned-players.json banned-ips.json` into the container

[2017-06-17 23:36] matthewguenther commented on #162
My particular server does not have a command like for boot arguments, how would I go about this using the file system?

[2017-06-18 00:10] itzg commented on #162
@matthewguenther hmm, that's hard to say since I'm used to direct access to the `docker` CLI. The alternative, that is likely easier, is to double check that a new 1.12 container is using a distinct volume attachment for `/data`.

[2017-06-18 21:08] node-monk opened #164 "Worldedit mod issue"
I really like this Docker Image. Quickly let me setup a server for my kid to build on.
Getting the WorldEdit mod to work has eluded me so far. Here is what I have done
1. Update EULA=true, OPS=[my kids username]
2. Update VERSION=1.11.2
3. Updated mod volume to map to my local /mc-data/mod
4. Downloaded WordEdit mod and copied to /mods folder
5. Downloaded Forge mod and copied to /mods folder
6. R

[2017-06-19 01:25] itzg commented on #164
You were very close. Forge is a special animal since it's not really a mod, but rather the platform for the mods. The container will take of the forge part when specifying `TYPE=FORGE`. So with just `worldedit-forge-mc1.11-6.1.6-dist.jar` in my host directory "we", this command worked for me:

[code]

I had to get my son to supervise to remind me of the worldedit commands (and the use of the woode

[2017-06-19 18:27] itzg commented on #157
@Reviville are you good with me closing this issue? Sounds like streaming the logging via logstash worked for you, right?

[2017-06-20 07:34] Reviville commented on #157
@itzg sure go ahead, i ended up with using gelf and logstash but im still trying to remove the unwanted echoes. But again, thank you very much :)

[2017-06-20 22:06] node-monk commented on #164
Worked perfectly --- Thank you!!! Kid is now scouring youtube for worldedit tutorials :)

This image rocks!!

[2017-06-22 00:20] #164 closed

[2017-06-22 00:21] #157 closed

[2017-06-27 10:50] developius opened #165 "Elasticsearch: not enough master nodes discovered during pinging"
Hi,

I'm trying to get Elasticsearch running on my own two-node Docker Swarm and am running into a problem.
I've followed your guide at https://hub.docker.com/r/itzg/elasticsearch/ using the [sample docker-compose.yml](https://raw.githubusercontent.com/itzg/dockerfiles/master/elasticsearch/docker-compose.yml) and this command:

`docker stack deploy -c docker-compose.yml es`

When inspecting the ta

[2017-06-29 03:51] itzg commented on #165
Sorry for the delay on this. I'll first make sure it still works for me as expected -- perhaps I broke something Swarm-related along the way.

[2017-06-29 04:07] itzg commented on #165
@developius ...it took a few minutes, but mine did startup properly. So, let's compare notes. My Docker version is

[code]

on Ubuntu 17.04 with kernel version 4.10.0-24-generic

Otherwise, of interest for comparison would be the container logs from the master instance:

[code]

[2017-06-29 04:19] itzg commented on #165
...I just noticed I did have a few false starts of task containers

[code]

For experimenting, you could instead try [this minimal composition](https://raw.githubusercontent.com/itzg/dockerfiles/master/elasticsearch/docker-compose-min.yml) that I just pushed. It's not really making much use of Swarm, but eliminates a lot of moving parts.

[2017-06-29 18:37] developius commented on #165
Thanks for getting back to me 🙌

Here are the details:

[code]

I just tried that config you posted, output below :/

[code]
Finding IPs. found! 10.255.0.6,172.18.0.3,10.0.0.3
Starting Elasticsearch with the options    -E path.conf=/conf   -E path.data=/data   -E path.logs=/data   -E transport.tcp.port=9300   -E http.port=9200 -E network.host=10.255.0.6,172.18.0.3,10.0.0.3 -E discovery.zen.ping.un

[2017-06-29 19:09] developius commented on #165
Just upgraded to Docker `17.06.0-ce` and getting the same problem. The route of the issue seems to be `failed to resolve host [master]`.

[2017-07-01 18:06] jaymeprocera commented on #155
I'm getting an error trying to execute ServerStart.sh when trying to run FTB.  I have defined in a docker-compose like this:
    TYPE: "FTB"
    VERSION: "1.7.10"
    FTB_SERVER_MOD: "FTBInfinity-2.6.0-1.7.10.zip"

chmod: /data/FeedTheBeast/ServerStart.sh: No such file or directory
sed: /data/FeedTheBeast/ServerStart.sh: No such file or directory
Setting initial memory to 1G and max to 4G
cp: can'

[2017-07-01 22:49] itzg commented on #155
@jaymeprocera it looks like you might be running into a mistake I usually make, using the client zip instead of the server zip. Double check using the [FTBInfinityServer](https://www.feed-the-beast.com/projects/ftb-infinity-evolved/files/2320899) companion of that file.

[2017-07-01 22:52] itzg commented on #165
Hmm, your container is getting assigned a third 10.255.*.* IP address, but that might just be a coincidence. I need to get my multi-node cluster up and running again to confirm there's not a subtle, but important difference there.

[2017-07-02 21:21] dereekb commented on #162
I ran into this issue earlier when starting a new container in a new folder. Wouldn't start properly until I copied over the .json configurations from a previous save.

`[20:15:14] [Server thread/INFO]: Starting minecraft server version 1.12
[20:15:14] [Server thread/INFO]: Loading properties
[20:15:14] [Server thread/INFO]: Default game type: SURVIVAL
[20:15:14] [Server thread/INFO]: Generating k

[2017-07-03 18:45] itzg commented on #162
@dereekb and @kitzu even though's a manual way to fix up the empty JSON files, I'll work on a start-time fixer-upper in the script. Stay tuned...

[2017-07-03 19:24] itzg commented on #162
@dereekb, @kitzu , please do a `pull` of the latest and see if that fix will get your server running.

[2017-07-04 00:10] dereekb commented on #162
Worked for me. Started a new container in a new directory without any issues. 👍

[2017-07-04 19:53] matthewguenther commented on #162
Just an update from my end after a bit of fiddling. When creating a new container, I still get the same errors and fail to start. The problem does indeed seem to be to be with the JSON files. Currently, my container only creates the following JSON files: `banned-ips`, `banned-players`, and `usercache`. Missing are `ops`, and `whitelist`. Deleting all the JSON from the container and copying over th

[2017-07-04 22:23] itzg commented on #165
@developius , sorry took longer than I wanted to get my 3-node swarm going again. Well...good news is...I see the same "master: Name does not resolve" as you. Perhaps an additional, private overlay network is needed within the es stack/composition. I'll poke around.

[2017-07-04 22:43] developius commented on #165
Awesome to hear that it's not just me, thanks!

[2017-07-04 22:45] itzg commented on #165
...even though I see that, the kibana service did start and find the master ES node successfully. I'm also adding an ES data node per swarm node using this compose file:

https://gist.github.com/itzg/a185d87e4e1a888b9bdd45b7aa55ce19#file-docker-compose-yml

Now my only challenge is squeezing these into 1GB VMs :)

[2017-07-04 23:15] itzg commented on #165
To trim down memory usage (esp for memory-constrained test/demo scenarios), I pushed an update to the image that adds a `NON_DATA` node type. With that this is the stack that is now working for me:

https://github.com/itzg/dockerfiles/blob/master/elasticsearch/docker-compose-3x1GB.yml

Showing:

[code]

[2017-07-05 10:32] developius commented on #165
I just tried your config on two VMs, and I'm getting this error in the `data` containers:
[code]

Kibana is not starting up either, with this error:
[code]

And finally, the master container:
[code]

[2017-07-05 13:56] itzg commented on #165
Strange, the overlay network name resolution is acting differently for you. For sanity testing, do these cross-pinging services resolve names correctly for you:

[code]

[2017-07-05 13:59] itzg commented on #162
Perhaps I should have the start script scrub all five of those json files.

[2017-07-05 14:03] developius commented on #165
Yep that works, although I'm getting this error intermittently (no idea what to do about it)
[code]

[2017-07-05 14:07] itzg commented on #165
Thanks for checking. Hmm, must be something induced by the way elasticsearch is doing hostname resolution via Java. I'll do some more thinking.

[2017-07-12 06:09] manojsb opened #168 "Elasticsearch plugin is red"
HI @itzg

Just installed the cluster but getting following error in kibana:
[code]
Any solution ?

Thanks

[2017-07-12 10:49] TheLeftMoose opened #170 "move minecraft server to own repository"
I really love your work and would like to contribute. Though it would be easier if minecraft server had it's own repository.

Would that be possible?

Thanks in advance.

[2017-07-12 22:48] kimhrac opened #171 "Minecraft: Spigot 1.8.8 server"
I tried to setup a Spigot/Bukkit server for version 1.8.8 but I can't find out what is wrong. I try to run this command:

[code]

but when the server starts I see this and it exits:

[code]

I also tried to change version to 1.8, 1.12 etc, but the same problem. Also the website that is referenced does not seem to be running?

[2017-07-12 22:53] developius commented on #165
I came across this thread the other day when looking into another issue with one of my services, and it looks like this is the culprit! scaleway/image-ubuntu#78
Basically, there are some kernel modules missing for ubuntu on scaleway vps's (what I'm using) which are causing problems with swarm networking. Having changed the bootscript to use the `rancher` kernel, everything started working.

My apo

[2017-07-12 22:53] #165 closed

[2017-07-13 03:45] itzg commented on #170
Thanks. Yeah, that and the elasticsearch directory in the same repo each have a lot of activity/contributions going on independently. I have been wanting to make them repos each, but keep hestitating at considering how to retain contributor designations as such.

It might be sufficient for me to fork that one repo into a new repo, remove all but the minecraft-server , and shift down a directory. T

[2017-07-13 03:47] itzg commented on #168
I had to started on bumping the image to 5.5.0 and then got distracted with network issues. I'll wrap that up and that'll fix it.

[2017-07-13 04:14] manojsb commented on #168
@itzg  I opened a pull request, can you check please If it's okay ?

[2017-07-13 07:01] theWoodman commented on #170
hmm github help to the rescue... https://help.github.com/articles/splitting-a-subfolder-out-into-a-new-repository/

Though that only covers the git migration. Should we consider to migrate the issues as well?

[2017-07-13 07:06] theWoodman commented on #170
was just googling further, and there is some different approaches to moving the issues.

https://github.com/holman/ama/issues/413 refers to this project: https://github.com/google/github-issue-mover. Though I can't seem to find out if you will need to use this tool manually, or if you actually can query the "copy from project", then get a list that is looped across.

[2017-07-13 14:10] itzg commented on #170
Good finds @theWoodman ! I'll work on a combo of the two since I had forgotten issues definitely need to migrate.

[2017-07-13 14:13] itzg commented on #171
The mcadmin.net site quickly runs out of capacity, so it seems to be rarely online. It takes longer to startup, but an "easy" solution is to add

[code]

to your `docker run` command line.

[2017-07-13 14:15] itzg commented on #162
Sorry for the delay on this. I should be able to get to this today or so.

[2017-07-13 15:11] itzg commented on #168
ES 5.5.0 image is now pushed. Can you double check that resolves it for you?

[2017-07-13 16:18] manojsb commented on #168
@itzg  Thank you so much. I will confirm you tomorrow once I get back to system.  Sorry for delay

[2017-07-13 20:52] itzg commented on #165
Excellent. Glad to hear there was a logical reason for it.

[2017-07-13 22:33] dschaper commented on #170
https://www.zenhub.com/guides/time-saver-features#move-issue-button We use ZenHub for our projects, really easy to move issues to a new repo when a user puts them in the wrong place.

[2017-07-14 07:36] manojsb commented on #168
@itzg  Hi I have testing it. its working perfectly. I synced mongodb data through logstash to this ES cluster.

Thanks you so much

[2017-07-14 07:36] #168 closed

[2017-07-14 15:37] opHASnoNAME opened #172 "elasticsearch: UID conflict"
Not sure if it is a issue, but show stopper for us. We are using Ubuntu 16.04 LTS as Host system and your elasticsearch image as Cluster.

We have a docker-swarm so to keep files the same on all hosts we are using glusterfs. This had worked fine until we have installed "ntp" which is creating a new user on the Host, with the UID 100 ... this is the same UID used by your image eg. alpine.

Now the

[2017-07-14 16:46] #172 closed

[2017-07-14 16:47] opHASnoNAME commented on #172
Works with:

`RUN adduser -S -s /bin/sh -u 1100 $DEFAULT_ES_USER`

[2017-07-16 01:15] itzg commented on #162
I have pushed an update that will check and fix all json files. Give that a try, please.

[2017-07-17 07:24] kimhrac commented on #171
Thanks, but if I add that line to the script and run it I get this from the log:

[code]

[2017-07-17 11:48] itzg commented on #171
@kimhrac unless you trimmed some of the ....'s before the done, your build seems to have error'ed out early. Can you post the last part of what should be the build log at `/data/minecraft/servers/mc-bukkit/spigot_build.log`?

[2017-07-17 12:20] kimhrac commented on #171
I didn't trim out anything.
The content of spigot_build.log is:

[code]

[2017-07-18 11:15] kimhrac commented on #171
I can see that I might need to add also the `-e SPIGOT_DOWNLOAD_URL` and change type to `-e TYPE=SPIGOT` so I tried the following:

[code]

but this gives the following when I try to run it and use `docker logs <containerid>`:

[code]

Am I missing something? Is the download URL correct?

[2017-07-19 12:52] itzg commented on #171
Sorry for the delay on responding. Yours is acting like `git` isn't present within the image, but I just double checked that I can see it.

This time can you do a fresh pull and see what it is reported about your image's git:

[code]

[2017-07-25 03:55] dwhitnall opened #175 "TCP4"
I've tried to get this running.  It downloads and runs fine but by default it would seem that java is listening to TCP6 and not TCP4.  I know that if you - export _JAVA_OPTIONS="-Djava.net.preferIPv4Stack=true" before running the jar file locally you can get it to listen on TCP4.
Is there a way to do this in the container

[2017-07-25 20:43] itzg commented on #175
Yes, that can be done. Which of the images in this repo need to be adjusted?

[2017-07-26 11:09] NynjaCypher commented on #78
This may be useful, not so sure. I'm currently building this project, https://github.com/NynjaCypher/sf-version-mapper, however it's not fully operational yet so I'll keep you all posted.

[2017-07-27 20:47] itzg commented on #78
Thanks @NynjaCypher and thanks for reminding me of this thread.

[2017-07-29 17:15] HDPete commented on #147
Hi,

Yes!  I got the EULA=true sorted on the QNAP Container Station by configuring it as an Environment Setting when creating the container - it seems you can't edit or append to these settings once created, so it's a bit of a pain.

Also, in order to 'add' EULA=True, the QNAP requests that you delete empty / null variables before adding a new one.

I think this may be causing me a problem, as I h

[2017-07-30 00:15] peterrus commented on #147
You should not need any other containers ;) looks like a json file is
wrongly formatted. Are you sure your whitelist and ops file are correct?
(Are there other files I am forgetting?)

On Sat, Jul 29, 2017, 19:15 HDPete <notifications@github.com> wrote:

[2017-07-30 06:47] HDPete commented on #147
Possibly not. That's something I've been trying to figure out on the QNAP Container Station.  It occurred to me that I need a data map to the NAS, but I can't find one so I can't see where the whitelist.txt etc files would be stored.  Does the Docker file download and install the minecraft_server.jar file itself or do I need to place it in a data directory?

[2017-07-30 06:51] HDPete commented on #147
Scrap that - I've found a _data volume with the .jar files in, so I'll see what I can find there.

[2017-07-30 06:55] HDPete commented on #147
Here's a crash dump report, if that helps:

---- Minecraft Crash Report ----
// I blame Dinnerbone.

Time: 7/29/17 5:31 PM
Description: Exception in server tick loop

com.google.gson.JsonParseException: java.io.EOFException: End of input at line 2 column 1 path $
	at ra.a(SourceFile:506)
	at ra.a(SourceFile:522)
	at pn.g(SourceFile:141)
	at nw.A(SourceFile:99)
	at nw.<init>(SourceFile:25)
	at nx.j

[2017-07-30 07:14] HDPete commented on #147
I gather that the error is to do with whitespace / null characters in one of the JSON files.  Not sure which one.  If I delete the JSON files, they get recreated with the same error, so I'm sure that I've found the data folder I need on the NAS.

If I edit the server.properties file offline and re-upload it, I then get a permissions error when running the docker file.  I've set the guest access to

[2017-07-30 07:59] HDPete commented on #147
INTERESTING:

I completely removed Container Station from the QNAP NAS.  Deleted it's volumes and historical data.  Reinstalled.

Then reinstalled ITZG/Minecraft Latest Version, which had NO repopulated environment settings.  I only added EULA=true.

It works - spawn complete.

[2017-07-30 13:12] itzg commented on #147
@HDPete fantastic!

[2017-07-30 13:12] #147 closed

[2017-07-30 13:15] itzg commented on #147
...but to answer your questions, yes, the image takes care of downloading the minecraft server jar and places it in `/data`. The secondary issue you encountered it caused by 1.12 being intolerant of completely empty JSON files. In the latest image's startup script it tries to fix up empty json files with an empty array.

[2017-07-30 13:31] HDPete commented on #147
Thanks Geoff!  Can you possibly confirm whether I should be able to simply edit the server.properties file from any text editor on another machine that has access to that share?  I tried earlier, but it seemed to mess the permissions which made the container fail at startup.

[2017-07-30 15:44] itzg commented on #147
You can indeed edit the files via anything that can get at the volume; however, as you mentioned file permissions can be a pain. If can access a Linux view of the volume you should be able to "chmod 666" the file to make it read/writable by all users.

[2017-08-01 11:33] kimhrac commented on #171
Thanks for helping out. Output is like this:

[code]

This helped move beyond git problem. Now I get the following when trying to run the command above:

[code]

[2017-08-01 13:35] itzg commented on #171
Since there's a relatively small number of dots from the build step, I'm guessing it failed unexpectedly. Can you paste the last part of the file `/data/spigot_build.log` from the container? If you had `-v` attached a host directory to `/data`, it'll be easier to obtain from there.

[2017-08-01 18:40] kimhrac commented on #171
Sure:

[code]

[2017-08-08 09:25] OhmegaStar opened #176 "FEAURE REQUEST: Forge - Missing *.jar files after mounting a new /data folder - redownload / reinstall / restart issue ?"
Hi

After changing the mounted docker volume /data to a new folder the container will not start, in stderr i find this error:

2017-08-08T09:19:14.133724954Z Error: Unable to access jarfile forge-1.12-14.21.0.2322-universal.jar
2017-08-08T09:20:06.292328199Z Error: Unable to access jarfile forge-1.12-14.21.0.2322-universal.jar
2017-08-08T09:21:49.782606695Z Error: Unable to access jarfile forge-1.

[2017-08-16 08:53] smxsm opened #177 "Passing "-D" command line params to Minecraft?"
Hi,
I have a problem starting a FORGE server with a map containing "invalid" objects caused by a missing mod (which I can't install since it is crashing the server). Minecraft is telling me during startup (and then hangs):

Alternatively start the server with -Dfml.queryResult=confirm or -Dfml.queryResult=cancel to preselect the answer.

But I can't find a way to pass that option via Docker ENV va

[2017-08-17 12:24] itzg commented on #171
I'll have to ponder the error message some more if Maven ran out of memory or if the host where the container is running out of memory. I'm leaning towards the later.

[2017-09-02 16:30] itzg commented on #177
@smxsm sorry the delay on responding. Apparently I forgot to document it, but you can pass -D's via the `JVM_OPTS`, such as `-e "JVM_OPTS=-Dfml.queryResult=confirm"`.

Let me know if that does work for you and I'll also update the README.

[2017-09-02 16:34] itzg commented on #176
@OhmegaStar sorry for taking so long to respond. Since the majority of the container runs as UID `1000` my initial guess is that the new folder referenced by your -v mount may not be writable by that user. Double check that and concurrently I'll enhance the startup script to test if the `/data` mount is writable early in startup and output an appropriate message.

[2017-09-04 01:24] itzg commented on #155
@Reviville sorry, I managed to let this issue go stale. I finally added the tweak I mentioned and it's pushed to hub

https://hub.docker.com/r/itzg/minecraft-server/builds/bodo74mnshrycgnpsuktmry/

[2017-09-04 01:24] #155 closed

[2017-09-05 07:15] OhmegaStar commented on #176
@itzg, thanks for responding.
The access rights on the mounted folder has not been changed in the folder host, so I think it is unlikely that that caused the issue. (the access is for 1000:1000)

right now it shows a different kind of error:
2017-09-05T07:12:57.645069955Z Switching to user 'minecraft'
2017-09-05T07:12:57.648058901Z Checking version information.
2017-09-05T07:12:57.885038736Z Check

[2017-09-05 11:47] itzg commented on #176
Those are both strange. I'll investigate further.

[2017-09-05 14:25] OhmegaStar commented on #176
@itzg Thanks - Ill appreciate that. Let me know if i should do anything to help troubleshooting.

[2017-09-09 02:52] adamras opened #178 "Container starts and then goes right to exit"
Hey man. Thanks for putting this together. I am having the container start and then immediately go into exit status. This is regardless of how many parameters I am trying to pass. Do you, or anyone else from the community have any insight as to why this might be? Thanks in advance!

[2017-09-09 02:58] itzg commented on #178
You're welcome.

Hmm, I just double checked by doing a fresh docker pull and it started fine for me. Does it give any output at all before exiting?

[2017-09-09 18:04] adamras commented on #178
Brother, all I needed to do was sleep on it I guess.  I don't know what I was missing before but it seems to have remedied itself.  Thanks for replying...so quickly too.

[2017-09-09 20:13] itzg commented on #178
Awesome

[2017-09-09 20:13] #178 closed

[2017-09-16 10:53] Kianda opened #179 "Build from source seems to not finish?"
Here is the last part of the log:

[code]

Any idea? Thanks!

[2017-09-16 22:34] itzg commented on #179
Hmm, I'll double check this too. Just to align scenarios can you provide the 'docker run' line you're using?

[2017-09-17 08:16] Kianda commented on #179
Here is the template I'm using (under Ubuntu).
minecraft/server/docker/zzsh -> sh minecraft_start.sh

And this will run:
`docker run -d -i -v $(pwd)/../../data:/data -p 25565:25565 -e BUILD_FROM_SOURCE=true -e TYPE=SPIGOT -e VERSION=LATEST -e EULA=TRUE -e MEMORY=512M --name minecraft-server itzg/minecraft-server`

[2017-09-19 08:06] Kianda commented on #179
Adding here also the spigot_build.log

[code]

[2017-09-19 11:35] Kianda commented on #179
Update:

Working if I change TYPE=SPIGOT to TYPE=BUKKIT

[2017-09-19 15:39] itzg commented on #179
Sorry, I forgot to post here, but I did recreate your issue, but apparently with a different symptom. In my case I saw some java compilation errors. Given that switching the type resolves it, my guess is that the latest Spigot code has some kind of issues. I haven't researched yet to see if they have any issues reported up stream.

[2017-09-24 21:00] aprillia99 opened #180 "Mods not working, Forge server install."
I have forge server running and I can log into the game fine, however, my mods are not enabled it seems. any help would be great. posting log below

`

date | stream | content
-- | -- | --
2017-09-24 20:46:04 | stdout | [m>  [20:46:04] [Server thread/INFO]: <[maprillia99[m> [mEW[m
2017-09-24 20:44:26 | stdout | [m>  [20:44:26] [Server thread/INFO] [journeymap]: Sending log in packet.
2017-09

[2017-09-25 00:05] itzg commented on #180
It quietly moved past the error, which was

   Invalid URL given for modpack: Must be HTTP or HTTPS and a ZIP file

So I'm guessing you passed a `-e MODPACK` that wasn't a URL. If you're wanting to use mods you have already downloaded, you can unzip them into a directory and attach to the `/mods` path of the container, such as `-v /home/user/mods:/mods`.

Let me know if you're still stuck after th

[2017-09-25 07:09] s0rcerer88 commented on #78
Is it planned to continue development of Sponge integration?

[2017-09-25 23:09] itzg commented on #78
I'd still like to support Sponge but obviously it is taking way too long for me to get to it. I'll have to look around again, perhaps some of the version lookup logic is easier now.

[2017-09-28 07:16] s0rcerer88 commented on #78
If you agree, I can try to do it.

[2017-09-28 12:13] itzg commented on #78
That would be great!

[2017-09-28 12:23] s0rcerer88 commented on #78
Working on it. Thanks!!

[2017-09-30 17:20] SireneKatze5872 opened #181 "mcadmin.net is down"
Hey itzg

Somehoy the mcadmin.net domain is down and the docker container can't download any Spigot, Craftbukkit version anymore. Can you please fix that ?

[2017-09-30 17:22] SireneKatze5872 commented on #181
https://getbukkit.org/download/
would be an alternative

[2017-09-30 17:46] itzg commented on #181
Thank you for pointing out the alternate site. Hopefully that one is more reliable than mcadmin. For now you can point to their downloads using '-e BUKKIT_DOWNLOAD_URL'

[2017-10-01 04:08] tiilikainen opened #182 "Level type request"
Hi,

Please add LEVEL_TYPE of RTG to the list of valid level types. This one is used by the Realistic Terrain Generation mod.

[2017-10-02 12:11] itzg commented on #180
Hmm, I'm not familiar with the error/message reported by forge, but yes you can stage the jar's in the /mods container directory to let the startup script grab them.

[2017-10-03 01:13] itzg commented on #182
This fix is now pushed to Hub.

FYI, I tested using

[code]

[2017-10-03 01:13] #182 closed

[2017-10-28 08:13] s0rcerer88 commented on #78
I can't push new branches!!

[2017-10-28 20:04] s0rcerer88 commented on #78
@itzg ??

[2017-10-28 20:15] NynjaCypher commented on #78
Fork and submit a PR...

[2017-10-28 21:00] itzg commented on #78
@s0rcerer88 sorry for the delay. Yes, as @NynjaCypher mentioned, you'll fork and then submit a PR via your fork. Here is Github's docs on working with forks

https://help.github.com/articles/working-with-forks/

but since you have likely cloned `itzg/dockerfiles` and made changes in your local clone you'll roughly follow these steps:

1. Fork via Github
2. Add your forked repo as a remote within y

[2017-10-29 00:53] s0rcerer88 commented on #78
Ohh. Thanks for the info. My very first time using GitHub.

[2017-10-29 01:31] s0rcerer88 commented on #78
PR sent.

[2017-11-08 03:52] s0rcerer88 commented on #78
SpongeVanilla integration completed. Changes merged.
SpongeForge integration in progress.

[2017-11-16 19:01] bear454 opened #185 "minecrafter-server can only run on x86_64"
While most of the dependency stack for your (awesome) minecraft-server image runs fine on armv7l (e.g. Raspberry Pi), your own dependencies are Arch-specific, and this blocks use on other architectures:

[code]

You're building binaries of both restify & rcon-cli for ARM; it would be nice to reference the proper binary here.

[2017-11-16 19:16] itzg commented on #185
Good point and good idea. I think the main mental barrier is making effective use of image labels, etc to organize the different architecture types.

[2017-11-16 19:56] bear454 commented on #185
Maybe this can be accomplished with a Dockerfile ARG ?
https://docs.docker.com/engine/reference/builder/#arg

If not, I'd be happy to submit a pull with an arm version ;-)

[2017-11-16 22:43] itzg commented on #185
Unfortunately Docker Hub’s automated builds don’t seem to accept the arguments to feed into ARG declarations. I think a branch will work fine like I’ve done for the Debian variant.

A PR would be fantastic. I’ll create a branch for the PR destination...

[2017-11-16 22:49] itzg commented on #185
...I created this branch for it

https://github.com/itzg/dockerfiles/tree/mc/arm

[2017-11-26 18:26] itzg commented on #185
Hmm, apparently there’s a multi-arch image building available. We’ll have to figure out how to tap into that

https://blog.docker.com/2017/11/multi-arch-all-the-things/

[2017-11-27 17:03] bear454 commented on #185
Yeah, you can add a manifest, but you still need per-arch dockerfiles ;-)

[2017-12-06 15:59] HashDot commented on #177
I've tested the JVM_OPTS to use a http proxy for minecraft. It doesnt work. :(

The proxy works fine with docker, apt, so on ...

Here my docker-compose (docker swarm):

[code]

[2017-12-06 17:32] itzg commented on #177
Which aspect or step during startup doesn’t work? I’m guessing you might be hitting a problem earlier than the Java invocation since there’s curl/wget operations to prep the environment. Right those would be honoring the proxy settings you’re trying, but that is solvable.

[2017-12-06 19:53] HashDot commented on #177
Here is the log:
[code]
After some time it fails with a timeout and a retry.

[2017-12-08 15:57] itzg commented on #177
@HashDot I pushed an update that now includes a `PROXY` option.
[Here's the new section in the README](https://github.com/itzg/dockerfiles/blob/master/minecraft-server/README.md#http-proxy)

Let me know if that works or not for you.

[2017-12-08 20:05] #162 closed

[2017-12-09 22:21] itzg commented on #181
Interesting...as of the 1.11 versions the getbukkit URLs become derivable such as

https://cdn.getbukkit.org/spigot/spigot-1.11.jar

[2017-12-20 23:25] NynjaCypher commented on #78
Great news, thanks for this :P

[2017-12-22 01:19] jeansebb opened #186 "/data/FeedTheBeast/ServerStart.sh: No such file or directory"
Here is the command :
 docker run -d -v /home/minecraft/data:/data -e TYPE=FTB -e MIN_RAM=1G -e MAX_RAM=4G -e PERMGEN_SIZE=512M -e FTB_SERVER_MOD=FTBPresentsDirewolf20112-1.4.0-1.12.2.zip -p 25565:25565 -e EULA=TRUE --name mc itzg/minecraft-server

Here is the logs :
Switching to user 'minecraft'
Checking version information.
Checking type information.
Looking for Feed-The-Beast server modpack.
ch

[2017-12-22 01:29] #186 closed

[2017-12-22 01:30] jeansebb commented on #186
My bad, had the wrong zip file

[2017-12-25 10:43] avendretter opened #187 "Install TPPI"
Hey @ all,

I am trying for two days to install the TPPI mod pack. (https://www.technicpack.net/modpack/tppi.552559)

Well, I am quite familiar with docker and also with servers, but I am not with Minecraft.
I mounted the volumes /data /config and /mods and copied the mod files and the config files and I set the TYPE = FORGE.
The server will copy them at the start but I cant build any items of thi

[2017-12-25 19:34] avendretter commented on #187
This is what I get when having the mods and configs in the right spot and running the server with TYPE=FORGE, VERSION=1.6.4

`2017-12-25 19:30:36 [SEVERE] [Minecraft-Server] Encountered an unexpected exception IllegalArgumentException
java.lang.IllegalArgumentException: Slot 1753 is already occupied by erogenousbeef.bigreactors.common.multiblock.block.BlockReactorControlRod@f3c28c6 when adding mag

[2017-12-25 19:56] itzg commented on #187
@avendretter since the modpack appears to have the same structure as Feed the Beast, it looks like this should work

[code]

**however**, the download is hanging part way through for me. Due to my testing it might have maxed out a download quota on your end. Can you see if it progresses further for you than

[code]

[2017-12-26 08:50] avendretter commented on #187
Hey @itzg,

I noticed, that the serverdownload takes long as I downloaded it manually. For me it works but the loader crashed again :/

with this error:
[code]
Did you see this for an FTB server?
At the end, you will find the entire output.

But first, let me thank you for that amazing work on this docker container! Really great job!

Best, Avendretter

[code]

[2017-12-26 09:10] avendretter commented on #187
@itzg I guess I found a solution for this.

In this[ forum thread](https://support.feed-the-beast.com/t/cant-start-crashlanding-server-unable-to-launch-forgemodloader/6028), some one was posting the same issue.

In the first [answer](https://support.feed-the-beast.com/t/cant-start-crashlanding-server-unable-to-launch-forgemodloader/6028/2), an additional fix java file was mentioned. I tried it and

[2017-12-26 17:18] itzg commented on #187
@avendretter thank you so much for your appreciation! I don't play that much Minecraft these days, but my son plays every day, so that would be great if we could join your server. Shoot me the server address at itzgeoff@gmail.com or you can post here.

Back to the issue at hand :) , thanks for finding the solution to that. I agree, that would be an excellent feature for the container to auto-fix.

[2017-12-26 17:34] itzg commented on #187
@avendretter normally for FTB the mods directory is `/data/FeedTheBeast/mods` but what directory was it in your case with the modpack? It looks like it might have been just `/data/mods`.

[2017-12-27 20:36] avendretter commented on #187
@itzg the `/data` folder there is now an `FeedTheBeast` folder

and the mods are located in `/data/FeedTheBeast/mods/`

[2018-01-07 23:26] itzg commented on #187
@avendretter sorry for the delay on this. I have pushed a new image which adds the option

[code]

I also added [a new section to the README](https://github.com/itzg/dockerfiles/tree/master/minecraft-server#fixing-unable-to-launch-forgemodloader)

When you get a chance, can you try that out and let me know if it works for you?

[2018-01-12 11:10] avendretter commented on #187
Oh I didnt know you where accually working on it :D GREAT!

You also updated your dockerfile right?

[2018-01-12 11:25] avendretter commented on #187
@itzg it works! Great!

[2018-01-12 14:13] raix commented on #181
https://cdn.getbukkit.org/craftbukkit/craftbukkit-1.12.2.jar

[2018-01-12 15:11] itzg commented on #187
I’m glad for the surprise :). Since it defaults off only the entry script needed to change.

Thanks for checking it b

[2018-01-12 15:11] #187 closed

[2018-01-21 10:58] eosfor opened #188 "Failed to verify username"
Nubie question. After I start the image and connect I see the following messages in the log. Connection obviously fails with the same message. What do I do with them?

[10:43:22] [User Authenticator #5/ERROR]: Username 'Dad' tried to join with an invalid session
[10:43:22] [Server thread/INFO]: /172.17.0.1:60564 lost connection: Failed to verify username!

[2018-01-21 14:30] itzg commented on #188
I believe at that stage the Minecraft server is trying to authenticate the user against a Mojang/Minecraft account; however, I’m not exactly sure how they do that since you log in via the client. The server seems to have an offline mode that might avoid that authentication step, but then that seems to easy of a loop hole :)

[2018-01-22 11:52] chris42 opened #189 "Syslog full of "unknown container" warnings for minecraft server"
I get a lot of warnings while running the minecraft server:

`dockerd[645]: time="2018-01-22T12:43:15.454851239+01:00" level=warning msg="unknown container" container=65c5ea981f0bd1c136faf23b9d0ec9e8df51065ee8991783ecc701675c$`

Not sure if this is a docker problem, but I have this only with the minecraft server. All other images and containers work without this.
Any idea what this is?